{% set brands = api.get("/catalog",{attributes:"brand",format:"attributes"}).brand %}

{% block page_content %}
<div class="row text-center" id="brands">
	{% set last_letter = "" %}
	{% for brand in brands|keys %}
	    {% if brand != "" %}
		<div class="col-6 col-md-4 col-lg-3 col-xl-2 pad"><div class="bgg brand"><a href="{{app.url}}/brand/{{ brand|replace({' ':'+'}) }}"><span class="image-space is80"><span class="isd px-3">{{brand|title}}</span></span></a></div></div>
		{% endif %}
	{% endfor %}
</div>
{% endblock %}