{% extends "/_layouts/base.html.twig" %}
{% import "/_macros/form-elements.html.twig" as form %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <header>
                <hgroup>
                    <h1 class="page-header"><i class="fa fa-gift"></i> Contact Us</h1>
                </hgroup>
            </header>
        </div>
    </div>
    <div class="jumbotron">
       Your comment has been submitted. Thank You.
    </div>
{% endblock %}