<section class="product-grid top-sellers">

	<h2>Top Sellers</h2>

	<div class="products row{# ifcentercat #}">
		{% set collection_ids = [] %}
		{% set product_count = 1 %}
		{% set products = api.get('/catalog', {sort:"product.variant.popularity:-1",limit:20}) %}
		{% for row,product in products if  product.id not in collection_ids and product_count < 5 %}
			{% if product.group == 'product' %}
				{% for id in product.product[0].collection_id %}
					{% set collection_ids = collection_ids|merge([id]) %}
				{% endfor %}
			{% else %}
				{% set collection_ids = collection_ids|merge([product.id]) %}
			{% endif %}
			{% set product_count = product_count + 1 %}
			{# Begin product #}
			<div class="col-6 col-md-3 mb-5">
				{{ prod.gridproduct(config,product, ['image','details']) }}
			</div>
			{# End product #}
		{% endfor %}
	</div>
</section>