<section class="product-grid">
    {# Category Header (Page #, Items / page, Sort by, Search) #}
    {# Begin category header #}

    <h2>Weekly Specials</h2>

    {# End category header #}
    <div class="products row text-center">
        {#
        Products to display:
        1528, 12458, 14097, 21032
        #}
        {% set product_ids = [1528, 34767, 34790, 21032] %}
        {% set products = api.get('/catalog', {query:{id:{'$in':product_ids}}}) %}
        {% for row,product in products %}
        {# Begin product #}
        <div class="col-6 col-md-3 mb-3">
            {{ prod.gridproduct(product, ['image','details']) }}
        </div>
        {# End product #}
        {% endfor %}
    </div>
</section>
