{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% import "/_macros/lonely-form.html.twig" as lonelyform %}
{% extends "/_layouts/base.html.twig" %}
{% set title = 'Create An Account - Thank you' %}
{% block title %}{{title}}{% endblock %}
{% block breadcrumb %}
{{ base.breadcrumbs({'Account':'/account', (title):''}) }}
{% endblock %}
{% block content %}
{% set form_extras = api.get('/customer/group/fields', {name:'Default Customer'}) %}

<div class="row">
    <div class="col-12">
        <h1>{{title|title}}</h1>
        <div>
        <p>
        	Thank you for applying for an account! We'll notify you once we approve your request.
        </p>
        <p>
        	Please contact customer support for futher assistance.
        </p>
    </div>
    </div>
</div>
{% endblock %}