<div id="sub_fail_general">
    <div class="flash-note alert alert-danger" role="alert">
		<div class="modal-header">
			<div class="h3 modal-title">Failure</div>
			<a href="#" class="close" data-dismiss="alert" aria-label="close subscription failure alert"><span aria-hidden="true">&times;</span></a>
		</div>
		<div class="modal-body">
			<p>Failed to subscribe email.</p>
		</div>
    </div>
</div>

<div id="sub_fail_briteverify">
    <div class="flash-note alert alert-danger" role="alert">
		<div class="modal-header">
			<div class="h3 modal-title">Validation Error</div>
			<a href="#" class="close" data-dismiss="alert" aria-label="close subscription failure alert"><span aria-hidden="true">&times;</span></a>
		</div>
		<div class="modal-body">
			<p>Your email address could not be verified.</p>
		</div>
    </div>
</div>

<div id="sub_success">
    <div class="flash-note alert alert-success" role="alert">
		<div class="modal-header">
			<div class="h3 modal-title">Success</div>
			<a href="#" class="close" data-dismiss="alert" aria-label="close subscription success alert"><span aria-hidden="true">&times;</span></a>
		</div>
		<div class="modal-body">
			<p>Thank you for subscribing!</p>
		</div>
    </div>
</div>