<div id="sub_fail_general">
    <div class="flash-note affix alert alert-danger" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <div class="h3">Failure</div>
        <p>Failed to subscribe email.</p>
    </div>
</div>

<div id="sub_fail_briteverify">
    <div class="flash-note affix alert alert-danger" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <div class="h3">Validation Error</div>
        <p>Your email address could not be verified.</p>
    </div>
</div>

<div id="sub_success">
    <div class="flash-note affix alert alert-success" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <div class="h3">Success</div>
        <p>Thank you for submitting your email.</p>
    </div>
</div>