{% for row,message in app.user.getFlashes() %}
<div class="flash-note alert alert-{{row}} flash-note-{{row}}" role="alert">
	<div class="modal-header">
		<div class="h3 modal-title">Error!</div>
		<button type="button" class="close" data-dismiss="alert" aria-label="close error alert"><span aria-hidden="true">&times;</span></button>
	</div>
	<div class="modal-body">
		{{message}}
	</div>
</div>
{% endfor %}

{% if app.user.id > 0 and 'addresses' not in app.request.url %}
{% set invalid_addresses = api.get('/customeraddress', {query:{customer_id:app.user.id,verified:{'$ne':1},deleted:{'$ne':1}}}) %}
{% if invalid_addresses.num_total > 0 %}
<div class="flash-note alert alert-danger" role="alert">
	<div class="modal-header">
		<div class="h3 modal-title">Address Error</div>
		<button type="button" class="close" data-dismiss="alert" aria-label="close address error alert"><span aria-hidden="true">&times;</span></button>
	</div>
	<div class="modal-body">
		Some of your addresses are invalid and may need additional details. Please update your addresses in your <a class="alert-link" href="{{app.url}}/account/addresses">address book</a>.
	</div>
</div>
{% endif %}
{% endif %}