{% if app.user.isLoggedIn() %}
    {% do app.redirect('/account') %}
{% endif %}

{% extends "/_layouts/base.html.twig" %}

{% set title = 'Reset Password Sent' %}
{% block title %}{{title}}{% endblock %}

{% block breadcrumb %}
{{ base.breadcrumbs({'Account':'/account',(title):''}) }}
{% endblock %}

{% block content %}
    <h1>{{ title|title }}</h1>
    <p>An email has been sent to the specified address. Please follow the instructions provided in the email to reset your password.</p>
    
{% endblock %}