{% spaceless %}
{% if app.request.get.token is not empty %}
    {% set data = app.request.get %}
    {% set customer = api.post('/customer/verifyemail', data) %}
    {% if customer %}
        {% if app.user.isLoggedIn() %}
            {% do app.redirect('/account') %}
        {% endif %}
        {% set title = 'Verify Account - Thank you' %}
    {% else %}
    {% set title = 'Verify Account' %}
        {% set error = true %}
    {% endif %}
{% endif %}
{% endspaceless %}

{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% import "/_macros/lonely-form.html.twig" as lonelyform %}
{% extends "/_layouts/base.html.twig" %}

{% block title %}{{title}}{% endblock %}
{% block breadcrumb %}
{{ base.breadcrumbs({'Account':'/account', (title):''}) }}
{% endblock %}
{% block content %}

<h1>{{title|title}}</h1>
{% if error is empty %}
    {% if customer.group_status == 'active' %}
    <p>
    	Your account has been successfully verified! 
    </p>
    <p>
        You may now <a href="{{app.url}}/account">Login to your account</a> to continue.
    </p>
    {% else %}
    <p>
        Your account has been successfully verified, however it is still pending approval.
        We'll notify you once we approve your request.
    </p>
    <p>
        Please contact customer support for futher assistance.
    </p>
    {% endif %}
{% else %}
<p>
    Sorry the verification token is invalid, please check the emailed link and try again.
</p>
{% endif %}

{% endblock %}