{# Social Network Icons if found in config file #}
{# if social settings is not set in the config file, just do nothing #}
{% if app.params.social_settings is defined and app.params.social_settings is not empty %}
{#<div class="row">
	<div class="col-xs-12 pad-h">
		  {{ social.social_parseConfig(app.params.social_settings) }}
	</div>
</div>#}
{% endif %}