<form>
	<div class="input-group">
		<input type="search" placeholder="Enter City, State, Zip" title="Enter City, State, Zip" class="form-control input-lg input-search-locs" id="search-locs" name="search-loc">
		<div class="input-group-btn">
			<button class="btn btn-lg btn-primary btn-search-locs" onclick="return false;" type="submit">Search</button>
		</div>
	</div>
</form>