
{# Begin registry button #}
{#
{% if items_in_registry is empty %}
{% set added = false %}
{% else %}
{% set added = true %}
{% endif %}
{% if registries is empty %}
<div class="col-xs-12 col-sm-4 col-lg-3 pull-right">
    <button type="submit" name="action" value="registry" class="btn btn-lg btn-block btn-secondary">
        {% if added %}
        <i class="fa fa-check"></i>
        {% else %}
        <i class="fa fa-gift"></i>
        {% endif %}
        <span>Add to Registry</span>
    </button>
</div>
{% else %}
<div class="col-xs-12 col-sm-4 col-lg-3 pull-right">
	<div class="btn-groupp">
		<button type="submit" name="action" value="registry" class="btn btn-lg btn-block btn-secondary dropdown-toggle" data-toggle="dropdown">
		    {% if added %}
		    <i class="fa fa-check"></i>
		    {% else %}
		    <i class="fa fa-gift"></i>
		    {% endif %}
		    <span>Add to Registry</span>
		</button>
		<ul class="dropdown-menu" role="menu">
		    {% for registry in registries %}
		    <li><button type="submit" class="btn btn-link" name="action" value="registry/{{registry.id}}">Add to '{{registry.name}}'</button></li>
		    {% endfor %}
		</ul>
	</div>
</div>
{% endif %}
#}
{# End registry button #}
{# Begin wishlist button #}
{% if items_in_wishlist is empty %}
{% set added = false %}
{% else %}
{% set added = true %}
{% endif %}
{% if wishlists is empty %}
<div class="col-xs-12 col-sm-4 col-lg-3 pull-right">
    <button type="submit" name="action" value="wishlist" class="btn btn-lg btn-block btn-secondary">
        {% if added %}
        <i class="fa fa-check"></i>
        {% else %}
        <i class="fa fa-star"></i>
        {% endif %}
        <span>Add to Wish List</span>
    </button>>
</div>
{% else %}
<div class="col-xs-12 col-sm-4 col-lg-3 pull-right">
	<div class="btn-groupp">
	    <button type="submit" name="action" value="wishlist" class="btn btn-lg btn-block btn-secondary dropdown-toggle" data-toggle="dropdown">
	        {% if added %}
	        <i class="fa fa-check"></i>
	        {% else %}
	        <i class="fa fa-star"></i>
	        {% endif %}
	        <span>Add to Wish List</span>
	    </button>
	    <ul class="dropdown-menu" role="menu">
	        {% for wishlist in wishlists %}
	        <li><button type="submit" class="btn btn-link" name="action" value="wishlist/{{wishlist.id}}">Add to '{{wishlist.name}}'</button></li>
	        {% endfor %}
	    </ul>
	</div>
</div>
{% endif %}
{# End wishlist button #}
