{% if items_in_wishlist is empty %}
{% set added = false %}
{% else %}
{% set added = true %}
{% endif %}
{% if config.params['show-wishlist'] == '1' %}

	{% if wishlists is empty %}
	<button type="submit" name="action" value="wishlist" class="btn btn-block btn-link">
		{% if added %}
		<i class="fa fa-check"></i>{% else %}<i class="fa fa-heart"></i>{% endif %}<span>Add to Wish List</span>
	</button>
{% else %}
	<div class="btn-group btn-block">
		<button type="submit" name="action" value="wishlist" class="btn btn-block btn-link dropdown-toggle" data-toggle="dropdown">
			{% if added %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-heart"></i>{% endif %}<span>Add to Wish List</span>
		</button>
		<ul class="dropdown-menu col text-center" role="menu">
			<li class="dropdown-header">Wish Lists:</li>
			{% for wishlist in wishlists %}
			<li><button type="submit" class="btn dropdown-item" name="action" value="wishlist/{{wishlist.id}}">'{{wishlist.name}}'</button></li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
{% endif %}


{% if config.params['show-registry'] == '1' %}

{% if registries is empty %}
	<button type="submit" name="action" value="wishlist" class="btn btn-block btn-link">
		{% if added %}
		<i class="fa fa-check"></i>{% else %}<i class="fa fa-gift"></i>{% endif %}<span>Add to Registry</span>
	</button>
{% else %}
	<div class="btn-group btn-block">
		<button type="submit" name="action" value="wishlist" class="btn btn-block btn-link dropdown-toggle" data-toggle="dropdown">
			{% if added %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-gift"></i>{% endif %}<span>Add to Registry</span>
		</button>
		<ul class="dropdown-menu col text-center" role="menu">
			<li class="dropdown-header">Registries:</li>
			{% for registry in registries %}
			<li><button type="submit" class="btn dropdown-item" name="action" value="registry/{{registry.id}}">'{{registry.name}}'</button></li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
{% endif %}