<p id='review-text'>Please review the information above.</p>
<div class="text-danger" id='error-text'></div>
<div class="text-center">		
	<button id="btn-place-order" class="btn btn-lg btn-primary btn-cart btn-xs-block">Place Order</button>
</div>