	<div class="row">		
		<div class="col-md-12">
			<span id='review-text'>Please review the information above.</span>
			<span id='error-text'></span>			
		</div>
	</div>

	<div class="row">		
		<div class="col-md-12">
				<button id="btn-place-order" class="btn btn-primary  pull-right">Place Order</button>
		</div>
	</div>