	<div class="row">		
		<div class="col-md-12">
			<span>Please review the information above.</span>
		</div>
	</div>

	<div class="row">		
		<div class="col-md-12">
				<button type="submit" class="btn btn-primary  pull-right">Place Order</button>
		</div>
	</div>