<h3>Select A Shipping Method</h3>
<form id="shipping-method-form">
<div class="row"> 

</div>

<div id="shipping-methods">
</div> 
<button id="btn-go-back-shipping-method" class="btn btn-primary pull-right" style="display: none">Go Back</button>
<button id="btn-continue-shipping-method" class="btn btn-primary pull-right">Continue</button>
	
</form>