<div class="row">
	<div class="col-md-6" style="border-right: 1px solid black; min-height: 250px;"> 
		<h3>Guest Checkout</h3>
		<div style="font-size: 14px; margin-bottom: 20px"> Welcome! An email address is required for order tracking. Please click below if you would like to also create an account.</div>
		<form id="guest-form">
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email address</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
		  </div>
		  <button id="btn-continue-signin" style="position: absolute; bottom: 0px; right: 15px" class="btn btn-primary pull-right">Continue</button>
		</form>

	</div>
	<div class="col-md-6" style="min-height: 250px;"> 
		<h3>Returning Customer</h3>
		<div style="font-size: 14px; margin-bottom: 20px">Welcome back!<br/> Simply sign in and let's get started.</div>		
		<form id="login-form">
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email address</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		  </div>	  
		  <button id="btn-login-signin" style="position: absolute; bottom: 0px; right: 15px"  class="btn btn-primary ">Sign In</button>
		</form>

	</div>

</div>