New account sign-up requested at <b>{{ site_name }}<br><br>

{{ email }} is awaiting approval at your store. To view your currently pending accounts visit your customer account admin: <br>
<a href="{{ url }}">{{ url }}</a>