{% include 'email/core/header.html.twig' %}
<tr>
	<td style="border-bottom:1px solid #e5e5e5;">
		<table border="0" cellspacing="0" cellpadding="0" style="width:100%!important;">
			<tr>
				<td align="center" style="padding:20px; color:#000; font-size:20px; font-weight:bold;">
				Welcome to {{ app.params.site.title }}!
				</td>
			</tr>
			<tr>
				<td align="center" style="padding:0 20px 20px; color:#333; font-size:14px; line-height:1.6;">
				We are excited to have you as a customer and look forward to provide you with great products and services from {{ app.params.site.title }}.
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td style="border-bottom:1px solid #e5e5e5;">
		<table border="0" cellpadding="0" cellspacing="0" style="width:100%!important;">
			<tr>
				<td align="center" style="padding:20px; color:#000; font-size:16px;">
					Login Details
				</td>
			</tr>
			<tr>
				<td style="padding:0 20px 20px; color:#333; font-size:14px; line-height:1.6;">
					Log in using your personal details below:
					<br><b>Username:</b> {{ email }}
					<br><b>Password:</b> ******
					<br><br>Forgot Your Password? <a href="{{ params['url']['current'] }}/account/reset-password" style="color:#000; text-decoration:none;">Reset your password</a>.
				</td>
		</table>
	</td>
</tr>
{% include 'email/core/top-seller.html.twig' %}
{% include 'email/core/footer.html.twig' %}