<table border="0" cellpadding="0" cellspacing="0" width="640" style="color: #555555; font-family: helvetica, arial, sans-serif;">
	<!-- Begin email header -->
	<tr>
		<td>
			{% include 'core/header.html.twig' %}
		</td>
	</tr>
	<!-- End email header -->
	<!-- Begin title -->
	<tr>
		<td style="padding: 20px; vertical-align: top;">
			<h1 style="color: #333333; font-size: 36px; line-height: 46px; margin: 0;">
				<a href="{{app.live_url}}" style="text-decoration:none; color:#333333;">
					Thank you for subscribing to our newsletter!
				</a>
			</h1>
			<p style="font-size: 14px; line-height: 22px;">
				You have successfullly subscribed to the {{ app.params['site']['title'] }} newsletter. You will now be one of the first to know about our best promotions, latest arrivals, exclusive offers, and much more!
			</p>
		</td>
	</tr>
	<!-- End title -->
	<!-- Begin start shopping -->
	<tr>
		<td>				
			<table align="center" border="0" cellpadding="0" cellspacing="0" width="640" style="color: #555555; font-family: helvetica, arial, sans-serif; padding: 20px;">
				<tr>
					<td style="padding-bottom: 50px;">
						<a href="#">
							<img src="images/btn-shopping.png" alt="Start Shopping Now!"  width="200" height="34"/>
						</a>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: top;">
						<p style="font-size: 14px; line-height: 22px;">
							Thank you from your friends at {{ app.params['site']['title'] }}!
						</p>						
						<p style="font-size: 12px; line-height: 16px;">
							* May exclude certain brands and products. Subject to change without notice.
						</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<!-- End start shopping -->
	<!-- Begin thank you -->
	<tr>
		<td style="padding: 20px; vertical-align: top;">
			<p style="font-size: 14px; line-height: 22px;">
				Thank you from your friends at {{ app.params['site']['title'] }}.<br>						
				Please add us to your email address book to make sure you receive important emails from us.
			</p>
		</td>
	</tr>	
	<!-- End thank you -->
	<!-- Begin email footer -->
	<tr>
		<td>
			{% include 'core/footer.html.twig' %}
		</td>
	</tr>
	<!-- End email footer -->
</table>