{% extends "/_layouts/base.html.twig" %}
{% block title %}Page not found{% endblock %}
{% block content %}
<div class="content">
    {% set response = api.get('redirect/resolve',{path: app.request.url, searchterm: false}) %}
    {% if response and response[0].destination %}
       {% do app.redirect(response[0].destination ,response[0].code) %}
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Page not found</h1>
                <p>The page you are attempting to reach has moved or may no longer exist.<br> We recently redesigned our website and apologize for the inconvenience.<br>Please visit our new <a href="{{ app.url }}">homepage.</a></p>
                {% if app.error.code != 404 %}
                    <h2>Errmerhgerd <small>A undiscovered feature was discovered</small></h2>
                    {{app.error.message}}<br /><br />
                    <p>While rendering <b>{{app.error.view}}</b></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
