<div class="modal fade" id="emailStock" tabindex="-1" role="dialog" aria-labelledby="emailStock-label" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="h3 modal-title" id="delete-modal-label">Email me when available</div>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>Get notified via email when this product is back in stock.</p>
				<form>
					<label class="sr-only" for="InStockAlertEmail">Email Address</label>
					<input type="search" placeholder="Email Address" class="form-control" id="InStockAlertEmail" name="email">
				</form>  
			</div>
			{% spaceless %}<div class="modal-footer">
			<div class="flex-fill">
				<button type="button" class="btn btn-primary btn-block" id="InStockAlertEmailButton" data-dismiss="modal"  >Email me when available</button>
			</div>
			</div>{% endspaceless %}
		</div>
	</div>
</div>