<div id="product-tabs" class="col-xs-12 p-2x">	
	<div class="row">
		<div class="col-md-12">
		{% if product.description is not empty %}
			<div class="divide pad-h-2x" id="description-desktop">
				<h2>Description</h2>
				{% set full_description = product.description %}
				<div class="g" itemprop="description">{{full_description}}</div>
				<div id="variant-description-{{product.id}}" ></div>
			</div>
		{% endif %}
		{% if product.dynamic_attributes is not empty %}
			<div class="divide pad-h-2x" id="features-desktop">
				<h2>Features</h2>
				<ul>
					{% for feature in product.dynamic_attributes %}
					   <li>
						   {{feature}}: {{product[feature]}}
					   </li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
			<div class="divide pad-h-2x" id="reviews-desktop">
				<h2>Reviews</h2>
				{% include "/product/_partials/reviews.html.twig" %}
			</div>
		</div>
	</div>
</div>