<div id="product-tabs" class="col-xs-12 p-2x">	
	<div class="row">
		<div class="col-md-12">
			<div class="panel-tabs">
				<ul class="nav nav-tabs">
					{% if product.description is not empty %}
					<li class="active">
						<a href="#description-desktop" data-toggle="tab">Description</a>
					</li>
					{% endif %}
					{% if product.dynamic_attributes is not empty %}
						<li {% if product.description is empty %} class="active"{% endif %}>
							<a href="#features-desktop" data-toggle="tab">Features</a>
						</li>
					{% endif %}
					<li {% if product.description is empty and product.dynamic_attributes is empty %} class="active"{% endif %}>
						<a href="#reviews-desktop" data-toggle="tab">Reviews</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	{# End tabs nav #}
	{# Begin tab pane #}
	<div class="row">
		<div class="col-md-12">
			<div class="tab-content">
				{# Begin product description #}
				{% if product.description is not empty %}
					{% set full_description = product.description %}
					<div id="description-desktop" class="tab-pane fade in active">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="g" itemprop="description">{{full_description}}</div>
								<div id="variant-description-{{product.id}}" ></div>
							</div>
						</div>
					</div>
				{% endif %}
				{# Begin features #}
				{% if product.dynamic_attributes is not empty %}
					<div id="features-desktop" class="tab-pane fade {% if product.description is empty %}active in{% endif %}">
						<div class="panel panel-default">
							<div class="panel-body">
								<ul>
									{% for feature in product.dynamic_attributes %}
									   <li>
										   {{feature}}: {{product[feature]}}
									   </li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				{% endif %}
				{# Begin reviews #}
				<div id="reviews-desktop" class="tab-pane fade {% if product.description is empty and product.dynamic_attributes is empty %}active in{% endif %}">
					<div class="panel panel-default">
						<div class="panel-body">
							{% include "/product/_partials/reviews.html.twig" %}
						</div>
					</div>
				</div>
				{# End reviews #}
				{# End product description #}
			</div>
		</div>
	</div>
</div>