{% if product.description is not empty %}
<div class="divide mb-4 pb-4" id="description">
	<h2>Description</h2>
	{% set full_description = product.description %}
	<div class="g">{{full_description}}</div>
</div>
{% endif %}
{% if product.dynamic_attributes is not empty %}
<div class="divide g mb-4 pb-4" id="features">
	<h2>Features</h2>
	<ul>
	{% for feature in product.dynamic_attributes %}
	   <li>
		   {{feature|title}}: {{product[feature]}}
	   </li>
	{% endfor %}
	</ul>
</div>
{% endif %}
<div class="divide g mb-4 pb-4" id="reviews">
	<h2>Reviews</h2>
	{% include "/product/_partials/reviews.html.twig" %}
</div>