<div class="col-12 g">
{% if product.description is not empty %}
	<div class="divide p-2x pad-b-2x" id="description">
		<h2>Description</h2>
		{% set full_description = product.description %}
		<div class="g" itemprop="description">{{full_description}}</div>
	</div>
{% endif %}
{% if product.dynamic_attributes is not empty %}
	<div class="divide g p-2x pad-b-2x" id="features">
		<h2>Features</h2>
		<ul>
		{% for feature in product.dynamic_attributes %}
		   <li>
			   {{feature|title}}: {{product[feature]}}
		   </li>
		{% endfor %}
		</ul>
	</div>
{% endif %}
	<div class="divide g p-2x pad-b-2x" id="reviews">
		<h2>Reviews</h2>
		{% include "/product/_partials/reviews.html.twig" %}
	</div>
	<div class="divide" id="topsellers">
	    {% include "/_partials/product_grid/_partials/top_sellers.html.twig" %}
	</div>
</div>