<div class="col-12 g">

<form>
	<label class="aaa-sr-only" for="InStockAlertEmail">Enter Email Address to be informed when item is in stock</label>
	<div class="input-group">
		<input id="InStockAlertEmail" type="search" placeholder="Email Address" class="form-control form-control-lg input-gray" name="email" title="Email Address">
		<div class="input-group-append">
			<button id="InStockAlertEmailButton" class="btn btn-lg btn-primary" onclick="return false;" type="submit">Subscribe</button>
		</div>
	</div>
	
</form>

</div>