{% macro begin(id) %}
<div class="lonely-form" id="{{id}}"><div class="row"><div class="col-md-8 offset-lg-2 col-lg-6 offset-xl-3">
{% endmacro %}

{% macro beginintro() %}
<div class="lonely-intro text-center p">
{% endmacro %}

{% macro endintro() %}
</div>
{% endmacro %}

{% macro end() %}
</div></div></div>
{% endmacro %}