{% macro begin(id) %}
<div class="lonely-form {% if id %}lf-{{id}}{% endif %}"><div class="max-lonely">
{% endmacro %}

{% macro begincard(id) %}
<div class="card"><div class="card-body">
{% endmacro %}

{% macro beginintro() %}
<div class="lonely-intro mb-3">
{% endmacro %}

{% macro endintro() %}
</div>
{% endmacro %}

{% macro endcard() %}
</div></div>
{% endmacro %}

{% macro end() %}
</div></div>
{% endmacro %}