{% macro begin(id) %}
<section class="lonely-form" id="{{id}}"><div class="row"><div class="col-xs-12 col-md-8 col-md-offset-2"><div class="well">
{% endmacro %}

{% macro beginintro() %}
<div class="lonely-intro">
{% endmacro %}

{% macro endintro() %}
</div>
{% endmacro %}

{% macro end() %}
</div></div></div></section>
{% endmacro %}