.form-group {
  margin-bottom: 15px;
}
.form-group .validation ul {
  margin-top: 5px;
  color: #930000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  list-style: none;
}
.form-group .validation ul li {
  padding: 5px 0;
}
