
{% macro login() %}
{% if not app.user.isLoggedIn() %}
{% do app.redirect('/account/login/'~app.request.url) %}
{% endif %}
{% endmacro %}

{# 'registries':'<i class="fa fa-gift"></i><span>Registries</span>', #}

{% macro navigation(current_page = '') %}
{% set tabs = {
	'':'<i class="fa fa-user"></i><span>Account Center</span>',
	'notifications':'<i class="fa fa-exclamation-circle"></i><span>Notifications</span>',
	'addresses':'<i class="fa fa-map-marker"></i><span>Addresses</span>',
	'orders':'<i class="fa fa-shopping-bag"></i><span>Orders</span>',
	'wishlists':'<i class="fa fa-gift"></i><span>Wish Lists</span>',
	
	'registries':'<i class="fa fa-gift"></i><span>Registries</span>',
	
	'reviews':'<i class="fa fa-star"></i><span>Reviews</span>',
	'returns':'<i class="fa fa-reply"></i><span>Returns</span>',
	'account-settings':'<i class="fa fa-cogs"></i><span>Account Settings</span>',
} %}
<div class="row">
	<div class="navigation hidden-xs hidden-sm">
		<div class="col-xs-12 col-md-3">
			<div class="navbar navbar-default fsd1 fa-fa-balance">
				{# Begin menu #}
				<div class="sidebar">
					<ul class="nav nav-sidebar">
						{% for page,title in tabs %}
						<li {% if current_page == page or page == '' and current_page not in tabs|keys %}class="active"{% endif %}>
							<a href="{{app.url}}/account/{{page}}">{{title}}</a>
						</li>
						{% endfor %}
					</ul>        
				</div>
				<div class="logout">
					<a class="btn btn-default btn-block" href="{{app.url}}/account/logout">Log Out</a>
				</div>
				{# End menu #}
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-9">
{% endmacro %}

{% macro navigatend() %}
	</div>
</div>
{% endmacro %}