.card-header h2 {margin:0;}
.card-header .step-data {display:none; margin:1rem 0 0; font-size:.875rem;}
.checkoutapp .btn-edit {display:none;}
#processing-panel {
	margin: auto;
	padding: 20px;
	background-color: #eee;
	color: black;
	border: 1px solid #ddd;
	text-align: center;
	width: 75%;
}
#checkout-cards img {max-height:34px; width:auto;}
.checkout-card {max-width:56px; height:34px;}

.card-header .step-data:empty {margin:0;}