.max-360 {max-width:360px; margin-right:auto; margin-left:auto;}
@media (min-width:768px) {
.max-sm-360 {max-width:360px; margin-right:auto; margin-left:auto;}
}

.stock .stock-msg {display:inline-block; padding:5px 10px; font-weight:bold; text-transform:uppercase;}
.stock-oos .stock-msg {color:#fff; background:#ff3344;}
/**/
.variation {position:relative; z-index:1; height:0; margin:0; padding:0; opacity:0; /*overflow:hidden;*/ visibility:hidden; transition:all 300ms;}
.variation.active {z-index:2; height:auto; opacity:1; visibility:visible;}
/**/
.vopt {margin-right:-2px; margin-left:-2px;}
.vopt-color {font-size:0;}
.vopt li {margin:0; padding:2px 2px 0;}
.vopt-color li {width:16.666666%; cursor:pointer;}
.vopt li .image-space:after {content:''; display:block; position:absolute; top:0; right:0; bottom:0; left:0; border:1px solid #bbb; border:1px solid rgba(0,0,0,.1); transition:all 300ms ease;}
.vopt li:hover .image-space:after {border:1px solid rgba(0,0,0,.25)}
.vopt li.selected .image-space:after {border:1px solid #000; border:1px solid rgba(0,0,0,.5); border:1px solid #66afe9; box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);}
.vopt li.not-avail {cursor:not-allowed; opacity:.6;}
.vopt li.not-avail .image-space:after {border:2px dashed #bbb;}
.vopt li.not-avail:hover {opacity:.4;}
.vopt li.not-avail:hover .image-space:after {border:2px dashed red;}
.vopt li.not-avail-sel {cursor:not-allowed; opacity:.6;}
.vopt li.not-avail-sel .image-space:after {border:2px dashed red;}
.vopt li.not-avail-sel:hover {opacity:.4;}
.vopt li.not-avail-sel:hover .image-space:after {border:2px dashed red;}

@media (min-width:479px) and (max-width:767px) {
.piece .vopt-color li {width:16.666666%;}
}
.selector-details select {margin:2px 0 0;}
/**/
.has-video .vari-video-scase {position:absolute; z-index:3; top:0; width:100%;}
.image-space.video {cursor:pointer;}
.video-icon {color:#fff; font-size:150%; text-shadow:0 1px 5px rgba(0,0,0,.75);}
/**/
.variant-selected-image {display:block; width:80px;}
@media (min-width:992px) {
.variant-selected-image {width:120px;}
}


/*======================================
  Selectric v1.11.1 mod
======================================*/

.selectric-wrapper {position:relative; cursor:pointer; text-align:center;}
.selectric-responsive {width:100%;}
.selectric-hide-select {position:relative; width:0; height:0; overflow:hidden;}
.selectric {position:relative; height:36px; margin:2px 0 0; font-size:14px; line-height:36px; background:#fcfcfc; border:1px solid #bbb; overflow:hidden;}
.selectric-input-lg .selectric {height:48px; font-size:16px; line-height:48px;}
.selectric-hover .selectric {background:#f8f8f8; border-color:#bbb;}
.selectric-focus .selectric {background:#f0f0f0; border-color:#aaa;}


.selectric .slabel {display:block; margin:0 36px; color:#444; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}
.selectric-input-lg .slabel {margin:0 48px;}

.selectric .button {display:block; position:absolute; top:0; right:0; width:36px; height:36px;}
.selectric-input-lg .button {width:48px; height:48px;}


.selectric .button:after {content:" "; position:absolute; top:0; right:0; bottom:0; left:0; width:0; height:0; margin:auto; border:4px solid transparent; border-top-color:#666; border-bottom:none;}
.selectric-input-lg .selectric .button:after {border-width:6px;}
.selectric-hover .selectric .button:after {/*border-top-color: #a2a2a2;*/}


.selectric-open {z-index:9999;}
.selectric-open .selectric {border-color:#8c8c8c; border-color:#66afe9; box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);}
.selectric-open .selectric .button:after {border-top-color:#000;}
.selectric-open .selectric-items {opacity:1; transform:scale(1) translateY(0);}

.selectric-disabled {cursor:default; filter:alpha(opacity=50); opacity:.5; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}

.selectric-hide-select select {position:absolute; left:-100%;}
.selectric-hide-select.selectric-is-native {position:absolute; z-index:10; width:100%; height:100%;}
.selectric-hide-select.selectric-is-native select {position:absolute; z-index:1; top:0; left:0; right:0; width:100%; height:100%; border:none; box-sizing:border-box; opacity:0;}

.selectric-input {position:absolute!important; top:0!important; left:0!important; width:1px!important; height:1px!important; clip:rect(0, 0, 0, 0)!important; margin:0!important; padding:0!important; *font: 0/0 a !important; background:none!important; border:none!important; outline:none!important; overflow:hidden!important;}

.selectric-temp-show {display:block!important; position:absolute!important; visibility:hidden!important;}

.selectric-items {position:absolute; z-index:-1; top:100%; left:0; width:100%!important; background:#fcfcfc; border:1px solid #c4c4c4; box-shadow:0 0 10px -6px; opacity:0; transform:scale(0.75) translateY(-21px); transform-origin:50% 0; transition:all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;}
.selectric-above .selectric-items {top:auto; bottom:100%;}
.selectric-items .selectric-scroll {height:100%; overflow:auto;}

.selectric-items ul, .selectric-items li {list-style:none; margin:0; padding:0;}
.selectric-items li {display:block; padding:10px; color:#666; cursor:pointer; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.selectric-items li:hover {color:#000; background:#f8f8f8;}
.selectric-items .highlighted {}
.selectric-items .selected {color:#000; font-weight:bold; background:#f4f4f4;}
.selectric-items .not-avail {color:#666!important; cursor:default!important; text-decoration:line-through; background:none!important; opacity:0.5; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}
.selectric-items .not-avail-sel {color:#666!important; cursor:default!important; text-decoration:line-through; opacity:0.5; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}




.pi-contain {max-width:450px; margin-right:auto; margin-left:auto;}

#image-main {position:absolute; z-index:3; top:0; left:30px; right:30px; background:#000; opacity:0; visibility:hidden; transition:all 300ms;}
#image-main.active {opacity:1; visibility:visible;}
.slick-vertical .slick-prev, .slick-vertical .slick-next {left:50%; width:32px; -webkit-transform:translate(-50%,0); -ms-transform:translate(-50%,0); transform:translate(-50%,0%);}
.slick-vertical .slick-prev {top:-8px;}
.slick-vertical .slick-prev:before {content:"\f077";}
.slick-vertical .slick-next {top:auto; bottom:-8px; right:auto;}
.slick-vertical .slick-next:before {content:"\f078";}

.silent-gal {position:absolute; top:0; right:30px; bottom:0; left:30px; opacity:0; visibility:hidden;}

.slick-heroic {padding:0 30px;}
.slick-heroic .slick-prev {left:0;}
.slick-heroic .slick-next {right:0;}
.slick-heroic img {cursor:pointer;}

.has-video .vari-video-scase {top:365px; left:5px; width:60px; overflow:hidden;}
.vari-video-scase .acaro {padding:5px;}

.ss-contain {position:absolute; top:5px; bottom:auto; left:5px; width:60px; opacity:1; visibility:visible; transition:all 300ms ease;}
.slick-heroic-nav {padding:20px 0;}
.slick-heroic-nav .slick-slide {cursor:pointer;}
.slick-heroic-nav .acaro {padding:5px;}
.slick-heroic-nav .slick-current .image-space:after {transition:all 300ms ease;}
.slick-heroic-nav .slick-current .image-space:after {content:''; position:absolute; top:0; right:0; bottom:0; left:0; border:1px solid #66afe9; box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);}

.slick-heroic .slick-track, .slick-heroic .slick-slide {/*transition:all 300ms ease;*/}

@media (min-width:992px) {
.slick-heroic {padding:0 0 0 75px;}
.slick-heroic .slick-arrow {display:none!important;}

.pi-contain {max-width:600px;}

.silent-gal, #image-main {left:75px; right:0}
}


@media (max-width:991px) {
.slick-heroic .slick-dots {display:none!important;}

.ss-contain {opacity:0; visibility:hidden;}

.has-video .vari-video-scase {display:none;}
}