/* pure */
html {-webkit-touch-callout:none; -webkit-text-size-adjust:none; -ms-text-size-adjust:100%;}
html,body {color:#666; font-size:100%; font-family:Open Sans, Helvetica, sans-serif;}

@media (max-width:991px){
body {font-size:87.5%;}
}

a {color:#000;}
a:hover, a:focus {color:#000;}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,h1 small,h2 small,h3 small,h4 
small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small {color:#000;}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {margin-top:15px; margin-bottom:10px; font-weight:300;}
h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child {margin-top:0;}
h1 {font-size:200%;}
h2, h3, h4, h5, h6 {font-size:140%;}
/* */



/* pure with values */
html,body {
    color: #666;
    font-family: Open Sans, Lucida Grande, Helvetica, Arial, sans-serif;
    background-color: #fff;
}

a {
    color: #000;
}
a:hover,a:focus {
    color: #000;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,h1 small,h2 small,h3 small,h4 
small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small {
    color: #000; 
    font-family: inherit;
}
/* */



/* boots */
.col-v {padding-top:15px; padding-bottom:15px;}
.row.row-thin {margin-left:-5px; margin-right:-5px;}
.col-thin.col-xs-1, .col-thin.col-sm-1, .col-thin.col-md-1, .col-thin.col-lg-1, .col-thin.col-xs-2, .col-thin.col-sm-2, .col-thin.col-md-2, .col-thin.col-lg-2, .col-thin.col-xs-3, .col-thin.col-sm-3, .col-thin.col-md-3, .col-thin.col-lg-3, .col-thin.col-xs-4, .col-thin.col-sm-4, .col-thin.col-md-4, .col-thin.col-lg-4, .col-thin.col-xs-5, .col-thin.col-sm-5, .col-thin.col-md-5, .col-thin.col-lg-5, .col-thin.col-xs-6, .col-thin.col-sm-6, .col-thin.col-md-6, .col-thin.col-lg-6, .col-thin.col-xs-7, .col-thin.col-sm-7, .col-thin.col-md-7, .col-thin.col-lg-7, .col-thin.col-xs-8, .col-thin.col-sm-8, .col-thin.col-md-8, .col-thin.col-lg-8, .col-thin.col-xs-9, .col-thin.col-sm-9, .col-thin.col-md-9, .col-thin.col-lg-9, .col-thin.col-xs-10, .col-thin.col-sm-10, .col-thin.col-md-10, .col-thin.col-lg-10, .col-thin.col-xs-11, .col-thin.col-sm-11, .col-thin.col-md-11, .col-thin.col-lg-11, .col-thin.col-xs-12, .col-thin.col-sm-12, .col-thin.col-md-12, .col-thin.col-lg-12 {padding-left:5px; padding-right:5px;}

.breadcrumb {padding:0 0 12px; background:none;}

.well {margin-bottom:15px; padding:24px; background-color:#fefefe; border-color:#ccc; border-radius:0; box-shadow:none;}
fieldset {margin-top:5px;}
fieldset:first-of-type {margin-top:0;}
legend {font-size:140%; font-weight:300; text-align:center; border-bottom:1px solid #ccc;}
label {margin-bottom:2px; font-weight:300; text-transform:uppercase;}
.input-group-btn {/*font-size:100%;*/}
.quantity-input-group {width:128px;}
.quantity-input-group.input-group-sm {width:108px;}

.btn {text-transform:uppercase; transition:all 0.3s ease; border-radius:0!important;}
.btn,.btn-default {color:#333; background-color:#f0f0f0; border-color:#aaa;}
.btn-default:focus,.btn-default.focus,
.btn-default:hover,
.btn-default:active,.btn-default.active,.open > .dropdown-toggle.btn-default,
.btn-default:active:hover,.btn-default.active:hover,.open > .dropdown-toggle.btn-default:hover,.btn-default:active:focus,.btn-default.active:focus,.open > .dropdown-toggle.btn-default:focus,.btn-default:active.focus,.btn-default.active.focus,.open > .dropdown-toggle.btn-default.focus,
.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus,.btn-default[disabled].focus,fieldset[disabled] .btn-default.focus
{background-color:#e8e8e8; border-color:#aaa;}

.btn-primary {color:#fff; font-weight:bold; background-color:#000; border-color:#000;}
.btn-primary:focus,.btn-primary.focus,
.btn-primary:hover,
.btn-primary:active,.btn-primary.active,.open > .dropdown-toggle.btn-primary,
.btn-primary:active:hover,.btn-primary.active:hover,.open > .dropdown-toggle.btn-primary:hover,.btn-primary:active:focus,.btn-primary.active:focus,.open > .dropdown-toggle.btn-primary:focus,.btn-primary:active.focus,.btn-primary.active.focus,.open > .dropdown-toggle.btn-primary.focus,
.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled.focus,.btn-primary[disabled].focus,fieldset[disabled] .btn-primary.focus
{color:#fff; background-color:#000; border-color:#000;}

.btn-secondary {color:#000; font-weight:300; background-color:#f8f8f8; border-color:#aaa;}
.btn-secondary:focus,.btn-secondary.focus,
.btn-secondary:hover,
.btn-secondary:active,.btn-secondary.active,.open > .dropdown-toggle.btn-secondary,
.btn-secondary:active:hover,.btn-secondary.active:hover,.open > .dropdown-toggle.btn-secondary:hover,.btn-secondary:active:focus,.btn-secondary.active:focus,.open > .dropdown-toggle.btn-secondary:focus,.btn-secondary:active.focus,.btn-secondary.active.focus,.open > .dropdown-toggle.btn-secondary.focus,
.btn-secondary.disabled:hover,.btn-secondary[disabled]:hover,fieldset[disabled] .btn-secondary:hover,.btn-secondary.disabled:focus,.btn-secondary[disabled]:focus,fieldset[disabled] .btn-secondary:focus,.btn-secondary.disabled.focus,.btn-secondary[disabled].focus,fieldset[disabled] .btn-secondary.focus
{color:#000; background-color:#f8f8f8; border-color:#aaa;}

.btn-link {color:#000;}
.btn-link,.btn-link:active,.btn-link.active,.btn-link[disabled],fieldset[disabled] .btn-link {background-color:transparent;}
.btn-link,.btn-link:hover,.btn-link:focus,.btn-link:active {border-color:transparent;}
.btn-link:hover,.btn-link:focus {color:#000; text-decoration:underline; background-color:transparent;}
.btn-link[disabled]:hover,fieldset[disabled] .btn-link:hover,.btn-link[disabled]:focus,fieldset[disabled] .btn-link:focus
{color:#777; text-decoration:none;}


.dropdown-menu {font-size:inherit; border-radius:0; box-shadow:0 2px 5px rgba(0, 0, 0, .2);}
.dropdown-menu > li > a {padding:6px 15px;}
.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {color:#000;}

.panel, .panel-group .panel {border-radius:0;}
.panel-heading[data-toggle="collapse"] {cursor:pointer;}
.tab-content .panel {border-top:none;}
.form-control {border:1px solid #aaa; border-radius:0;}
textarea.form-control {resize:vertical;}
.img-thumbnail {border-radius: 0;}
ul, ol {padding-left:1.6em;}
.p, p, ul, ol, .table, .form-group, .panel-group {margin-bottom:15px;}
.p-thin {margin-bottom:10px;}

.thumbnail {margin:0; padding:0; border:none; border-radius:0;}

.list-inline {margin-right:-5px;}
.list-inline-free {margin-left:0; margin-right:0;}
.list-inline-free>li {padding:10px;}

.navbar {margin:0;}
.nav>li>a {border-radius:0;}
.nav>li>a:hover, .nav>li>a:focus {background-color:transparent;}

.popover {font-family:inherit; font-size:inherit; border-radius:0;}
.popover-content {padding:15px;}


@media (min-width:1200px) {
.container {width:auto; max-width:1200px;}
}

@media (max-width:991px) {
/*.container {padding-left:.5em; padding-right:.5em;}*/
.row {margin-left:-10px; margin-right:-10px;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {padding-left:10px; padding-right:10px;}
.col-v {padding-top:10px; padding-bottom:10px;}

.p, p, ul, ol, .table, .form-group, .panel-group {margin-bottom:10px;}

.well {padding:14px;}

.text-left-sm {text-align:left;}
}

@media (max-width:767px) {
.container {padding-left:20px; padding-right:20px;}
}

/* final word */
.panel-body>.p:last-child, .panel-body>p:last-child, .panel-body>ul:last-child, .panel-body>ol:last-child, .panel-body>.table:last-child, .panel-body>.form-group:last-child,
.well>.p:last-child {margin-bottom:0;}
/* */



/* fa */
.fa {margin-right:.5em;}
.fa-solo, .fa:last-child {margin-right:0;}
.fa-fa-balance .fa {min-width:1.25em; text-align:center;}
.fa-fa-gentle .fa {opacity:.667;}
/* */



/* acension global */
img[data-image-swap],img[data-image-zoom] {cursor:pointer;}

.page-header {margin:0 0 24px; padding:0 0 9px; text-align:center; border-bottom:1px solid #ddd;}
h2.section-name {margin-bottom:18px;}

#preview-admin-header {z-index:9999; right:auto; top:1em; opacity:.8;}
#preview-admin-header:hover {opacity:1;}
#preview-admin-header .btn img {max-width:80px;}

.pricing .price {color:#000;}
.pricing .price-per-month {}
.pricing .price-range {}
.pricing .price-regular {text-decoration:line-through;}
.pricing .percent {color:red;}

#toolbar ul {}
#toolbar .tool {position:relative; padding-left:10px; padding-right:10px;}
#toolbar .tool-a:active, #toolbar .tool-a:focus, #toolbar .tool-a:hover {}
#header .dropdown-menu {margin:0; min-width:0;}
#header .cart .item-count {display:inline-block; min-width:1.25em; margin:0 0 0 .5em; text-align:center;}
#header .popover {left:auto!important; right:15px; width:420px; padding:0; max-width:none;}
#header .popover>.arrow {display:none;}
section#toolbar .popover .arrow {display: none;}
section#toolbar .popover .popover-close {padding-bottom: 10px;font-weight: 700;}
.ajaxcart-products {max-height:360px; border-bottom:1px solid #ccc; overflow:hidden; overflow-y:auto;}
#header .form-group {margin:0;}
#header .brand #logo-txt a {font-size:200%;}
#header .brand img {max-height:80px;}
#header .search {width:50%;}


#content {padding:1em 0 2em;}

#footer {padding:2em 0;}


@media (max-width:991px) {/**/
#header .popover {right:10px;}
}

@media (max-width:767px) {/**/
.ajaxcart-products {max-height:260px;}
}

@media (max-width:479px) {/**/
#header .popover {left:10px!important; width:auto;}
}
/* */



/* coolguy */
.image-space {display:block; position:relative; padding-top:100%;}
.image-space.is80 {padding-top:80%;}
.image-space.is75 {padding-top:75%;}
.image-space.is60 {padding-top:60%;}
.image-space.is40 {padding-top:40%;}
.image-space.is30 {padding-top:30%;}
.image-space.is20 {padding-top:20%;}
.image-space .isd {position:absolute; top:0;}
.is-no-of .image-space {overflow:hidden;}
.image-space span.isd {width:100%; overflow:visible!important; /* override product js */}
.image-space .isd .img-responsive {margin:0 auto;}
.fsd1 {font-size:87.5%;}
.fsi1 .fsd1 {font-size:88.888888%;}
.fsi1 {font-size:112.5%;}
.fsd1 .fsi1 {font-size:114.285714%;}

.wsnw {white-space:nowrap;}
.no-of {overflow:hidden;}

.divide {border-bottom:1px solid #ccc;}
.divide:last-child {border-bottom:none;}

.btn-sq-sm {width:28px; height:28px; padding:0;}
.btn-sq {width:34px; height:34px; padding:0;}
.btn-sq-lg {width:46px; height:46px; padding:0;}

.al-btn-sm {line-height:28px;}
.al-btn {line-height:34px;}
.al-btn-lg {line-height:46px;}

.lonely-form .actions:last-child {margin:0;}

.mT {margin-top:1em;}
.mT2 {margin-top:2em;}


@media screen and (min-width:1px){
.image-space .isd {top:50%; left:50%; -moz-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); -o-transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%);}
}

@media (min-width:768px) {
.col-sm-6.cool-clear:nth-child(2n+1),
.col-sm-4.cool-clear:nth-child(3n+1),
.col-sm-3.cool-clear:nth-child(4n+1),
.col-sm-2.cool-clear:nth-child(6n+1) {clear:left;}
}

@media (min-width:992px) {
.force-md-lg {display:block!important;}
.force-md-lg.collapse {height:auto!important;}
.md-pull-right {float:right !important;}
.md-pull-left {float:left !important;}
}


@media (max-width:991px) {
.tCsm {text-align:center;}
.mTsm {margin-top:1em;}
}

@media (max-width:767px){
.fsd1 {font-size:85.714285%;}
.fsi1 {font-size:114.285714%;}

.lonely-form .btn {display:block; width:100%;}

.col-xs-6.cool-clear:nth-child(2n+1),
.col-xs-4.cool-clear:nth-child(3n+1),
.col-xs-3.cool-clear:nth-child(4n+1),
.col-xs-2.cool-clear:nth-child(6n+1) {clear:left;}
}
/* */







/**** 4-) Navbar Menu Styling  ****/
.dropdown-submenu {position:relative;text-align: left;}
.dropdown-submenu>.dropdown-menu {top:0;left:100%;margin-left:0;} 
.dropdown-submenu > a:after {border-color: transparent transparent transparent #333;border-style: solid;border-width: 5px 0 5px 5px;content: " "; display: block;float: right;  height: 0;}
.dropdown-submenu:hover>a:after {border-left-color:#555;}

nav#nav-desktop-main ul li a {
    color: #{{ settings["colors"]["content"]["nav-text-color"]["value"] }};
}
nav#nav-desktop-main .dropdown ul li a{color: #666! important;font-size: 85%;padding: 12px;}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {background-color:transparent! important;}
.navbar-nav > li:first-child > a {padding-left:0! important;}
@media (max-width: 767px) {
    .navbar-nav  {display: inline;}
    .navbar-default .navbar-brand {display: inline;}
    .navbar-default .navbar-toggle .icon-bar {background-color: #fff;}
    .navbar-default .navbar-nav .dropdown-menu > li > a {background-color: #ccc;border-radius: 4px;margin-top: 2px;   }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {color: #555;}
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {background-color: #ccc;}
    .navbar-nav .open .dropdown-menu {border-bottom: 1px solid #fff; border-radius: 0;}
    .dropdown-menu {padding-left: 10px;}
    .dropdown-menu .dropdown-menu {padding-left: 20px;}
    .dropdown-menu .dropdown-menu .dropdown-menu {padding-left: 30px;}}
@media (min-width: 768px) {
    ul.nav li:hover > ul.dropdown-menu {display: block;}
    #navbar {text-align: center;}}  
.navigation .navbar {border: none;}
.navigation .navbar .sidebar {border:1px solid #ddd;background-color:transparent;}
.navigation .navbar .sidebar .nav > li > a:active,
.navigation .navbar .sidebar .nav > li > a:focus,
.navigation .navbar .sidebar .nav > li > a:hover {background-color: #558C89;color: #ffffff;}
.navigation .navbar .sidebar .nav > li.active > a {background-color: #558C89;color: #ffffff;}
.twitter-typeahead .hint-small {height: 30px;padding: 5px 10px;font-size: 12px;border-radius: 3px;line-height: 1.5;}/*  Tt Auto Search Style*/
.twitter-typeahead .hint-large {height: 45px;padding: 10px 16px;font-size: 18px;border-radius: 6px;line-height: 1.33;}
.twitter-typeahead {width: 100%;}
.tt-dropdown-menu {width: 100%;}
.tt-hint {width: 100%;}
.tt-input, 
.tt-hint {margin: 0;}
.input-group .form-control.tt-input { float:none;box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);}
.input-group .form-control.tt-input:focus,.tt-hint:focus {border-color:#ddd;}
.tt-hint {color: #999;}
.tt-menu { margin-top:-1px; padding:.5em 0; width:100%; background-color: #fff;border: 1px solid #ccc;border: 1px solid rgba(0, 0, 0, 0.2);border-radius: 2px;box-shadow: 0 5px 10px rgba(0,0,0,.2);}
.tt-suggestion {padding: 3px 20px;cursor: pointer;text-align: left;}
.tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */color: #fff;background-color: #0097cf;}
.tt-suggestion p {margin: 0;}
.tt-cursor {background-color: #0097cf;}/*  End Tt Auto Search Style*/ 
/**** End Navbar Menu Styling  ****/



/**** 5-) Footer Styling  ****/
footer#footer {
    background-color: #fff;
    color: inherit;
}

footer#footer .title {
    color: #000;
    text-transform:uppercase;
}

footer#footer .newsletter {padding-bottom:2em;}

/**** End Footer Styling  ****/



/**** 6-) Shoping Cart Styling   ****/
#shopping-cart .well, #order-summary .well {background: none;}
#shopping-cart .item {border-bottom: 1px solid #EEEEEE;line-height: 20px;margin-bottom: 20px;padding-bottom: 10px;}
#shopping-cart .item .thumbnail {margin-bottom: 0;}
#shopping-cart .item .details .item-label {display: inline;}
#shopping-cart .item .details .name {color: #333333;font-size: 80%;line-height: 21px;}
#shopping-cart .item .details .availability {color:#558C89;}
#shopping-cart .item .details .pricing {margin-bottom: 10px;font-size: 80%;}
#shopping-cart .item .details .remove {margin-bottom: 10px;margin-top: 10px;}
#shopping-cart .item .details .quantity {float: left;width: 100%;}
@media (min-width: 992px) {#shopping-cart .item .details .quantity .quantity-input-group {float: right;}}
#shopping-cart #coupon-code {border-bottom: 1px solid #EEEEEE;margin-bottom: 20px;}
#shopping-cart #coupon-code .title {font-size: 90%;font-weight: bold;margin-bottom: 10px;}
#shopping-cart #coupon-code .form-group .control-label {margin-bottom: 10px;text-align: left;}
#shopping-cart #coupon-code .form-group .form-control {margin-bottom: 10px;}
@media (min-width: 768px) {#shopping-cart #coupon-code .form-group .control-label {margin-bottom: 0;}#shopping-cart #coupon-code .form-group .form-control {margin-bottom: 0;}}
@media (min-width: 768px) {#shopping-cart #coupon-code .text-label {text-align: right;}}
#shopping-cart #shipping-estimator {border-bottom: 1px solid #EEEEEE;margin-bottom: 20px;}
#shopping-cart #shipping-estimator .title {font-size: 90%;font-weight: bold;margin-bottom: 10px;}
#shopping-cart #shipping-estimator .form-group .control-label {margin-bottom: 10px;text-align: left;}
#shopping-cart #shipping-estimator .form-group .form-control {margin-bottom: 10px;}
@media (min-width: 768px) {#shopping-cart #shipping-estimator .form-group .control-label {margin-bottom: 0;}#shopping-cart #shipping-estimator .form-group .form-control {margin-bottom: 0;}}
@media (min-width: 768px) {#shopping-cart #shipping-estimator .text-label {text-align: right;}}
#shopping-cart #shipping-estimator .rate {border-bottom: 1px solid #EEEEEE;padding-bottom: 10px;padding-top: 10px;}
#shopping-cart #shipping-estimator .arrival {border-bottom: 1px solid #EEEEEE;padding-bottom: 10px;padding-top: 10px;}
#shopping-cart #shipping-estimator .tax {border-bottom: 1px solid #EEEEEE;padding-bottom: 10px;padding-top: 10px;}
#shopping-cart #shipping-estimator .total {border-bottom: 1px solid #EEEEEE;padding-bottom: 10px;padding-top: 10px;margin-bottom: 10px;}
#shopping-cart #subtotal {font-size: 90%;font-weight: bold;margin-bottom: 10px;}
#shopping-cart #proceed-to-checkout {margin-bottom: 20px;}
#shopping-cart #paypal {margin-bottom: 20px;text-align: center;}
#shopping-cart #continue-shopping {margin-bottom: 20px;}
#order-summary .product {border-bottom: 1px solid #eeeeee;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;}
#order-summary .product .thumbnail {margin-bottom: 0;}
#order-summary .product .actions {text-align: left;}
#order-summary .subtotal, .shipping, .tax {font-weight: bold;}
#order-complete #order-items .panel .panel-heading {background-color: #ffffff;border-bottom: 1px solid #e5e5e5;}
#order-complete #order-items .panel .panel-heading a {color: #333333;}
#order-complete #order-items .panel .panel-body .shipping-address {font-size: 80%;padding-bottom: 10px;}
#order-complete #order-items .panel .panel-body .billing-address {font-size: 80%;padding-bottom: 10px;}
#order-complete #order-items .panel .panel-body .item-totals {border-top: 1px solid #e5e5e5;font-size: 80%;padding-top: 10px;}
#order-complete #order-items .panel .panel-body .item-totals .txt-label {text-align: left;}
#order-complete #order-items .panel .panel-body .item-totals .amount {text-align: right;}
@media (min-width: 768px) {#order-complete #order-items .panel .panel-body .billing-address {padding-bottom: 0;}
#order-complete #order-items .panel .panel-body .item-totals {border-top: none;padding-top: 0;}
#order-complete #order-items .panel .panel-body .item-totals .txt-label {text-align: right;}}
#order-complete #order-totals .shipping-address {padding-bottom: 10px;}
#order-complete #order-totals .billing-address address {margin-bottom: 10px;}
#order-complete #order-totals .order-totals {border-top: 1px solid #e5e5e5;font-size: 80%;padding-bottom: 10px;padding-top: 10px;}
#order-complete #order-totals .order-totals .txt-label {text-align: left;}
#order-complete #order-totals .order-totals .amount {text-align: right;}
@media (min-width: 768px) {#order-complete #order-totals .billing-address {padding-bottom: 0;}
#order-complete #order-totals .order-totals {border-top: none;padding-top: 0;}
#order-complete #order-totals .order-totals .txt-label {text-align: right;}}
/**** End Shoping Cart Styling   ****/



/**** 7-) Category Page Styling   ****/
.category-filters .filter a {display:block;}
.category-filters .filter-clear a {display:block; margin:0 0 2px; padding:6px 15px; color:#fff; text-decoration:none; background-color:#aaa;}
.pagination {border-radius:0;}
.page-filters .pagination {margin:0;}
.pagination > li > a,
.pagination > li > span {color:#000;}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {color:#000;}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {color:#fff; background-color:#000; border-color:#000;}
/**** End Category Page Styling   ****/


/**** 8-) Product, Collection Page Styling   ****/
.product-grid .product .img-responsive {width:100%; height:auto;}
.product-grid .product a {text-decoration: none;}
.product-grid .product .empty-carousel {display:block; padding-top:13.8888888%;}
.product-grid .product .color-carousel {float: left;display: block;width: 100%;}
.product-grid .product .color-carousel .carousel {padding-right: 0;padding-left:0;}
.product-grid .product .color-carousel .thumbnail {}
.product-grid .product .color-carousel .thumbnail .btn {background: #eee;border-color: #eee;padding: .3em .5em;}
.product-grid .product .color-carousel .thumbnail .btn:hover {background: #ccc;border-color: #ccc;}

#product-images {max-width:450px; margin-left:auto; margin-right:auto; text-align:center;}
#product-images #image-main .thumbnail .helper {display: inline-block;height: 100%;vertical-align: middle;}


#product-images .thumbnail.video {cursor: pointer;}
#product-images .thumbnail.video .video-icon {display: block;margin-top: 5px;margin-left: 6px;opacity: .5;position: absolute;}
#product-images .thumbnail.video:hover .video-icon {opacity: 1;}


#product-details header .brand {margin:0 0 5px;}
#product-details header h1 {margin-top:0;}


.selector-details {position:relative;}
.selector-details span {font-weight:300; text-transform:capitalize;}
.selector-details span strong {font-weight:300; text-transform:uppercase;}
.swatches {margin-left:-1px;}
.swatches li {padding:2px 1px 0;}
.swatches a {}
.swatches .selected a, .swatches li:hover a {border:1px solid #000;}
.swatches .selected a {background:#f8f8f8;}
.swatches .notavailable {opacity:.5;}
.swatches .notavailable a {background:none; border:1px dashed #aaa; cursor:not-allowed;}
.swatches .notavailable-selected {opacity:.5;}
.swatches .notavailable-selected a {background:none; border:1px dashed red; cursor:not-allowed;}




#registry .product, #wishlist .product {border-bottom: 1px solid #eeeeee;margin-bottom: 20px;padding-bottom: 20px;}

#registry .product .pricing .price,
#registry .product .pricing .price-range, #wishlist .product .pricing .price,
#wishlist .product .pricing .price-range  {display: inline-block;margin-right: 10px;font-size: 85%;}
#registry .product .pricing .stock, #wishlist .product .pricing .stock {display: inline-block;color: #009900;font-size: 75%;}
#registry .product .pricing .price-regular, #wishlist .product .pricing .price-regular {display: block;font-size: 75%;text-decoration: line-through;}

#registry .product .quantities .qty-purchased, #wishlist .product .quantities .qty-purchased {display: inline-block;font-size: 80%;margin-right: 10px;}
#registry .product .quantities .qty-wanted, #wishlist .product .quantities .qty-wanted {display: inline-block;font-size: 80%;margin-right: 10px;}
@media (min-width: 768px) {
    #registry .product .quantities .qty-purchased, #wishlist .product .quantities .qty-purchased {margin-bottom: 4px;}
    #registry .product .quantities .qty-wanted, #wishlist .product .quantities .qty-wanted {margin-bottom: 4px;}
    }
#registry .product .fg-red {color: #CC0000;}
#registry .product .fg-green {color: #009900;}
#registry_search .registry, #wishlist_search .wishlist {border-bottom: 1px solid #ccc;padding-bottom: 10px;padding-top: 10px;}
#registry_search .registry:last-child, #wishlist_search .wishlist:last-child {border-bottom: none;}

/*Carousel Control*/
.carousel-control.left {
background-image: -webkit-linear-gradient(left, color-stop(rgba(54, 190, 217, 0.25) 0%), color-stop(rgba(54, 190, 217, 0) 100%));
background-image: linear-gradient(to right, rgba(54, 190, 217, 0.25) 0%, rgba(54, 190, 217, 0) 100%);
background-repeat: repeat-x;
filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#4036bed9', endColorstr='#0036bed9', GradientType=1);}
.carousel-control.right {
background-image: -webkit-linear-gradient(left, color-stop(rgba(54, 190, 217, 0) 0%), color-stop(rgba(54, 190, 217, 0.25) 100%));
background-image: linear-gradient(to right, rgba(54, 190, 217, 0) 0%, rgba(54, 190, 217, 0.25) 100%);
background-repeat: repeat-x;
filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#0036bed9', endColorstr='#4036bed9', GradientType=1);}
.carousel-indicators li {border: 1px solid #0f8299;background-color: #ffc859;}
table.yiiLog {display: none;}
@media (min-width: 768px) {table.yiiLog {display: block;}}



.star-rating {position:relative; display:inline-block; height:1em; overflow:hidden;}
.star-rating .disabled {color:#ccc;}
.star-rating .active {position:absolute; left:0; top:0; color:#FFC125;}
.star-rating-input {font-size:200%;}
.star-rating .choosing {color:#e6c678;}
.star-rating .active-choosing {color:#FFC125;}
.star-rating .disabled-choosing {color:#ccc;}



.label {position:absolute; right:0; top:0; padding:0; color:#fff; font-weight:normal; text-transform:uppercase;}
.label span {display:block; float:right; margin:0 0 0 .333em; padding:.5em .75em;}
.label .label-new {background:#558C89;}
.label .label-sale {background:#c11818;}
.label .label-hot {background:#365755;}
.label .label-feat {background:#555;}

/**** End Product, Collection Page Styling   ****/



 /**** 9-) Account Page Styling   ****/
#customer-account-center #recent-orders .order {border-bottom: 1px solid #DDDDDD;padding-bottom: 10px;padding-top: 10px;}
#customer-account-center #recent-orders .order .order-details {padding-bottom: 10px;}
#customer-account-center #recent-orders .order .order-items {padding-bottom: 10px;}
#customer-account-center #recent-orders .order:last-child {border-bottom: none;padding-bottom: 0;}
#customer-account-center #recent-orders .order:last-child .actions {margin-bottom: 0;}
@media (min-width: 768px) {#customer-account-center #recent-orders .order .actions {text-align: right;}}
#customer-account-center #recent-wishlist .product {border-bottom: 1px solid #DDDDDD;padding-bottom: 10px;}
@media (min-width: 991px) {#customer-account-center #recent-wishlist .product {border-bottom: 0px;}}
#customer-account-notifications .actions-header {margin-bottom: 20px;}
#customer-account-notifications .actions-footer {margin-top: 20px;}
#customer-account-reviews .reviews .review {border-bottom: 1px solid #eeeeee;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;}
#customer-account-orders .well {background-color: transparent;}
#customer-account-orders .order-search {margin-bottom: 10px;}
@media (min-width: 768px) {#customer-account-orders .order-search {margin-bottom: 0;}}
#customer-account-orders .coupon {margin: 20px 0;}
#customer-account-orders .coupon .discount-line-through {text-decoration: line-through;}
#customer-account-orders .billing-address {font-size: 75%;margin-bottom: 20px;}
#customer-account-orders .billing-address address {margin-bottom: 0;}
#customer-account-orders .billing-method {font-size: 75%;margin-bottom: 20px;}
#customer-account-orders .order-totals {font-size: 75%;margin-bottom: 20px;}
#customer-account-orders .order-details {font-size: 75%;}
@media (min-width: 768px) {#customer-account-orders .order-details {border-right: 1px solid #E5E5E5;}}
#customer-account-orders .order-details .order-info {margin-bottom: 20px;}
#customer-account-orders .order-details .shipping-address {margin-bottom: 20px;}
#customer-account-orders .order-details .shipping-method {margin-bottom: 20px;}
#customer-account-orders .order-details .order-total {margin-bottom: 20px;}
#customer-account-orders .order-details .actions {margin-bottom: 20px;}
#customer-account-orders .order-details .modal {font-size: 85%;}
#customer-account-orders .order-details .shipping-address address {margin-bottom: 0;}
#customer-account-orders .order-details .order-actions {margin-bottom: 20px;}
@media (min-width: 768px) {#customer-account-orders .order-details .actions {margin-bottom: 0;}}
#customer-account-orders .order-items {font-size: 75%;}
@media (min-width: 768px) {#customer-account-orders .order-items {border-left: 1px solid #E5E5E5;margin-left: -1px;}}
#customer-account-orders .order-items .item {border-bottom: 1px solid #e5e5e5;margin-bottom: 5px;padding-bottom: 5px;}
#customer-account-orders .order-items .item .thumbnail {margin-bottom: 0;}
#customer-account-orders .order-items .item:last-child {border-bottom: none;margin-bottom: 0;padding-bottom: 0;}
#order-details .order-details .return-order {margin: 5px 0;}
#customer-account-registries .header-actions {border-bottom: 1px solid #EEEEEE;padding-bottom: 20px;margin-bottom: 10px;}
#customer-account-registries .registry-list .registry {border-bottom: 1px solid #EEEEEE;padding-bottom: 10px;padding-top: 10px;margin-bottom: 10px;}
#customer-account-registries .registry-list .registry .actions {text-align: right;}
#customer-account-registries .footer-actions {padding-top: 20px;}
#registry-create fieldset,
#registry-edit fieldset {margin-bottom: 30px;}
#registry-create fieldset legend,
#registry-edit fieldset legend {margin-bottom: 10px;}
#registry-create .actions .btn,
#registry-edit .actions .btn {margin-right: 10px;}
#customer-account-returns .well {background-color: #ffffff;}
#customer-account-returns .return-filter {margin-bottom: 10px;}
@media (min-width: 768px) {#customer-account-returns .return-filter {margin-bottom: 0;}}
#customer-account-returns .return-search {margin-bottom: 10px;}
@media (min-width: 768px) {#customer-account-returns .return-search {margin-bottom: 0;}}
#customer-account-returns .return .return-details {font-size: 75%;}
@media (min-width: 768px) {#customer-account-returns .return .return-details {border-right: 1px solid #E5E5E5;}}
#customer-account-returns .return .return-details .return-info {margin-bottom: 20px;}
#customer-account-returns .return .return-details .actions {margin-bottom: 20px;}
@media (min-width: 768px) {#customer-account-returns .return .return-details .actions {margin-bottom: 0;}}
#customer-account-returns .return .return-details .modal {font-size: 80%;}
#customer-account-returns .return .return-items {font-size: 75%;}
@media (min-width: 768px) {#customer-account-returns .return .return-items {border-left: 1px solid #E5E5E5;margin-left: -1px;}}
#customer-account-returns .return .return-items .item {border-bottom: 1px solid #e5e5e5;margin-bottom: 5px;padding-bottom: 5px;}
#customer-account-returns .return .return-items .item .thumbnail {margin-bottom: 0;}
#customer-account-returns .return .return-items .item:last-child {border-bottom: none;margin-bottom: 0;padding-bottom: 0;}
#slider-promo-main { margin-bottom: 20px;}
#featured-reviews .well {padding: 40px;}
#featured-reviews .review .title {font-size: 112%;margin-bottom: 8px;text-transform: capitalize;}
#featured-reviews .review .reviewer {margin-bottom: 4px;}
#featured-reviews .review .reviewer .first-name {text-transform: capitalize;}
#featured-reviews .review .reviewer .city {text-transform: capitalize;}
#featured-reviews .review .reviewer .state {text-transform: uppercase;}
#featured-reviews .review .date {margin-bottom: 4px;}
#featured-reviews .review .score {margin-bottom: 4px;}
#featured-reviews .review .comment {margin-bottom: 10px;}
#order .order-details {font-size: 75%;}
#order .order-details .order-info {margin-bottom: 20px;}
#order .order-details .shipping-address {margin-bottom: 20px;}
#order .order-details .shipping-method {margin-bottom: 20px;}
#order .order-details .actions {margin-bottom: 20px;}
@media (min-width: 768px) {#order .order-details .actions {margin-bottom: 0;}}
@media (min-width: 768px) {#order .order-details {border-right: 1px solid #E5E5E5;}}
#order .order-items {font-size: 75%;}
#order .order-items .item {border-bottom: 1px solid #e5e5e5;margin-bottom: 5px;padding-bottom: 5px;}
#order .order-items .item .thumbnail {margin-bottom: 0;}
#order .order-items .item:last-child {border-bottom: none; margin-bottom: 0;padding-bottom: 0;}
@media (min-width: 768px) {#order .order-items {border-left: 1px solid #E5E5E5;margin-left: -1px;}}
#order .returns header {border-bottom: 1px solid #EEEEEE;}
#order .returns .item {border-bottom: 1px solid #EEEEEE;font-size: 75%;padding-bottom: 10px;padding-top: 10px;}
#order .returns .item:last-child {border: none;}
#order .returns .item:last-child .actions {margin-bottom: 0;}
#order .returns .item .actions {margin-top: 10px;}
@media (min-width: 768px) {#order .returns .item .actions {margin-bottom: 0;margin-top: 0;}}
/**** End Account Page Styling   ****/




/**** 11-) Other Styling  ****/

.alert {border-radius: 0;color:#555;}

.cBoth{clear: both;}
.img-center {margin:0 auto;}

.danger-link {color: #b83311;}
.modal-footer {text-align: left;}
/**** End Other Styling   ****/







/**** 12-) Color Chip Styling  ****/
.color-chips {padding-bottom:5px;}
.color-chip {color:#fff; text-shadow:0 1px 1px rgba(0,0,0,.5); opacity:.9;}
.color-chip.disabled {opacity:.1;}
.color-chip.bright-red {background-color: #ff00cc;}
.color-chip.red {background-color: #9b1e20;}
.color-chip.hot-pink {background-color: #ff33cc;}
.color-chip.pink {background-color: #e0b3cd;}
.color-chip.bright-orange {background-color: #ff9900;}
.color-chip.orange {background-color: #d58c28;}
.color-chip.yellow {background-color: #e5e058;}
.color-chip.lime-green {background-color: #00ff33;}
.color-chip.army-green {background-color: #999933;}
.color-chip.light-green {background-color: #b9d197;}
.color-chip.green {background-color: #90b55b;}
.color-chip.teal {background-color: #24c4c8;}
.color-chip.light-blue {background-color: #d8e2fa;}
.color-chip.blue {background-color: #346492;}
.color-chip.deep-navy {background-color: #000066;}
.color-chip.dark-blue {background-color: #000099;}
.color-chip.purple {background-color: #8033cc;}
.color-chip.light-brown {background-color: #d4c9be;}
.color-chip.chocolate {background-color: #663300;}
.color-chip.brown {background-color: #6f5d42;}
.color-chip.black {background-color: #000000;}
.color-chip.grey {background-color: #aaaaaa;}
.color-chip.ivory {background-color: #fffff0;}
.color-chip.white {color:#666; text-shadow:0 1px 1px rgba(255,255,255,.5); background:#fcfcfc; border:1px solid #bbb;}
.color-chip.multi {background: #88bfe8;
	background: -moz-linear-gradient(-45deg, #88bfe8 0%, #96ffc2 27%, #b996ff 53%, #ff9698 75%, #f1ff96 100%, #70b0e0 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #88bfe8), color-stop(27%, #96ffc2), color-stop(53%, #b996ff), color-stop(75%, #ff9698), color-stop(100%, #f1ff96), color-stop(100%, #70b0e0));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #88bfe8 0%, #96ffc2 27%, #b996ff 53%, #ff9698 75%, #f1ff96 100%, #70b0e0 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #88bfe8 0%, #96ffc2 27%, #b996ff 53%, #ff9698 75%, #f1ff96 100%, #70b0e0 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #88bfe8 0%, #96ffc2 27%, #b996ff 53%, #ff9698 75%, #f1ff96 100%, #70b0e0 100%);
	/* IE10+ */
	background: linear-gradient(135deg, #88bfe8 0%, #96ffc2 27%, #b996ff 53%, #ff9698 75%, #f1ff96 100%, #70b0e0 100%);
	/* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#88bfe8', endColorstr='#70b0e0', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
}
.color-chip:hover,.color-chip:focus {color:#fff; text-decoration:none; opacity:1; border:1px solid #000;}
.color-chip.active {border:1px solid #000; opacity:1;}
.color-chip.white:hover, .color-chip.white:focus {color:#666;}

@media (max-width:991px) {
.color-chip {font-size:140%;}
}
/**** End Color Chip Styling  ****/

