@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,700);

html,body {color:#666; font-family:Open Sans, Lucida Grande, Helvetica, Arial, sans-serif; background-color:#fff;}

a {color:#000;}
a:hover, a:focus {color:#000;}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {color:#000;}

.btn {transition:all 0.2s ease;}
.btn-primary {font-weight:bold; box-shadow:0 5px 9px 0 rgba(0,0,0,0.15);}
.btn-primary:focus,.btn-primary.focus,.btn-primary:hover,.btn-primary:active,.btn-primary.active {box-shadow:0 5px 12px 0 rgba(0,0,0,0.25);}
.btn-primary.btn-lg {box-shadow:0 6px 12px 0 rgba(0,0,0,0.15);}
.btn-primary.btn-lg:focus,.btn-primary.btn-lg.focus,.btn-primary.btn-lg:hover,.btn-primary.btn-lg:active,.btn-primary.btn-lg.active {box-shadow:0 6px 15px 0 rgba(0,0,0,0.25);}
.btn-primary.btn-sm {box-shadow:0 2px 4px 0 rgba(0,0,0,0.15);}
.btn-primary.btn-sm:focus,.btn-primary.btn-sm.focus,.btn-primary.btn-sm:hover,.btn-primary.btn-sm:active,.btn-primary.btn-sm.active {box-shadow:0 2px 6px 0 rgba(0,0,0,0.25);}
.btn-primary.btn-sm {box-shadow:0 1px 3px 0 rgba(0,0,0,0.15);}
.btn-primary.btn-sm:focus,.btn-primary.btn-sm.focus,.btn-primary.btn-sm:hover,.btn-primary.btn-sm:active,.btn-primary.btn-sm.active {box-shadow:0 1px 4px 0 rgba(0,0,0,0.25);}
/* */


/* acenda global */
.pricing .price {color:#000; font-weight:bold;}
#product-details .pricing .price {font-size:150%;}
#collection .pricing .price {font-size:120%;}
.pricing .price-regular, .pricing .regular, .price-discount {text-decoration:line-through;}
.pricing .percent {color:#f55;}
.availability {color:#558C89;}
/* */