@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {font-family:Open Sans, Lucida Grande, Helvetica, Arial, sans-serif;}

a {}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {}
h1,.h1 {}

.btn {}
.btn-primary {}
.btn-primary:focus,.btn-primary.focus,.btn-primary:hover,.btn-primary:active,.btn-primary.active {}
/* */


/* acenda global */
#toolbar {height:114px; padding-top:6px; padding-bottom:6px;}
#header {}

#header .omm {position:absolute; top:0; left:0;}
#header .logo {position:absolute; left:50%; margin-left:-80px; width:160px; font-size:120%;}
#header .logo .image-space {padding-top:48px;}
#header .search {position:absolute; top:54px; right:0; left:0;}
#header .search .btn {position:absolute; top:0; right:0;}
#header .mya {position:absolute; top:0; right:56px;}
#header .cart {position:absolute; top:0; right:0;}
#header .cart .dropdown-menu {opacity:0; visibility:hidden; transition:opacity 300ms ease;}
#header .cart .qc-ready .dropdown-menu {opacity:1; visibility:visible;}
#qc-btn .item-count {position:absolute; top:0; right:0; height:1.25em; font-size:50%; line-height:1.1em; background:#fff; border:1px solid rgba(0,0,0,.5); border-radius:100%; opacity:0; visibility:hidden; transition:all 300ms ease;}
#qc-btn .item-count.ready {opacity:1; visibility:visible;}

#nav .navbar-expand .navbar-nav .nav-link {padding:1rem;}
#nav .navbar-nav {float:none;}
#nav .navbar-nav > li > ul > li > ul a {font-weight:normal;}
#nav .nav > li > a:hover, #nav .nav > li > a:focus {background-color:transparent;}
#nav .navbar-nav li a {white-space:nowrap;}
#nav .fa {display:none;}
#nav .dropdown-menu {padding:0 0 10px 5px;}
#nav .navbar-nav > li > .dropdown-menu {margin-top:0; padding:1.25rem;}
#nav .dropdown-submenu>.dropdown-menu {display:block; position:static; float:none; border:none; box-shadow:none;}

#nav .navbar-nav > li.make-cols > .dropdown-menu {-webkit-column-count:3; -moz-column-count:3; column-count:2; column-rule:1px solid rgba(0,0,0,.1); break-inside:avoid-column; -webkit-column-break-inside:avoid; -webkit-column-gap:40px; -moz-column-gap:40px; column-gap:40px;}
#nav .navbar-nav > li.make-cols > .dropdown-menu li {display:block;}
#nav .navbar-nav > li.make-cols > .dropdown-menu li ul {display:none;}

#content {border-bottom:1px solid #f0f0f0;}

.category a, .product a {display:block; border:1px solid transparent;}
h3.category-name, h3.brand-product, h3.product-name {font-size:1rem;}
h3.brand-product {min-height:2.2em;}
.product-grid .pricing {min-height:3.8em;}
.pricing ul {margin-bottom:0; font-size:.875rem;}
.pricing .price, .totals-total {color:#000; font-weight:bold;}
.piece .brand {font-size:.875rem;}
#product-details .sku, .piece .sku {margin:0 0 .25rem; font-size:.875rem;}
#product-details .pricing .price {font-size:1.5rem;}
#collection .pricing .price, .totals-total {font-size:1.25rem;}
.pricing .price-special, .pricing .price-compare, .pricing .regular, .price-discount {text-decoration:line-through;}
.pricing .special {display:inline-block; margin:0 0 0 .375rem; padding:.125rem .375rem; color:#fff; font-size:.625rem; vertical-align:middle; background:#f55; border-radius:.25rem;}
#product-details .pricing .price .special {margin:0 0 0 .5rem; padding:.25rem .5rem; font-size:.75rem;}
.pricing .percent {color:#f55;}
.availability {color:#558C89;}


@media (min-width:768px) {

}

@media (min-width:992px) {
#toolbar {height:108px; padding-top:30px; padding-bottom:30px;}
#header .search {top:0; right:118px; left:50%;}
#header .logo {left:0; width:200px; margin-left:0;}
}

@media (max-width:991px) {
}
/* */



/* default widgets */
.promo-hero .image-space {padding-top:240px;}
.promo-hero .isd {top:65%;}
.promo-hero h1 {font-weight:bold; border:none;}

.promo-siblings h3.isd {top:72%; font-weight:bold;}

@media (min-width:768px) {
.promo-hero .image-space {padding-top:360px;}
.promo-hero h1 {font-size:240%;}
}

@media (min-width:992px) {
.promo-hero .image-space {padding-top:480px;}
.promo-hero h1 {font-size:280%;}
}

/* */