/* compress and then add as 2nd line to bootcenda.css */
/* boots */
.igq-mod {width:auto;}
.igq-mod .form-control {width:50px}
.igq-mod .input-group-btn {width:100%;}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {-webkit-appearance:none;}
input[type=number] {-moz-appearance:textfield;}

.btn-group-qty {width:80px; margin-right:20px;}
.igq-mod .btn-group-qty .form-control {margin:0;}
.btn-group-qty .btn-add, .btn-group-qty .btn-remove {position:absolute; top:0; right:0;}
.btn-group-qty .btn-remove {top:24px;}


/* boot 4 over-ride + adju */
.border-default {border-color:#bbb}
.btn.card-header {font-size:100%; text-align:left; border-width:0;}
.btn-group-xs>.btn,.btn-xs{padding:.21875rem .4375rem;font-size:.65rem;line-height:1.5;border-radius:.2rem}
.btn-default{
    color:#000;
    background-color:#f4f4f4;
    border-color:#bbb
}
.btn-default:hover{
    color:#000;
    background-color:#e4e4e4;
    border-color:#ababab
}
.btn-default.focus,.btn-default:focus{
    box-shadow:0 0 0 0.2rem rgba(0,123,255,.25)
}
.btn-default.disabled,.btn-default:disabled{
    color:#000;
    background-color:#f4f4f4;
    border-color:#bbb
}
.btn-default:not(:disabled):not(.disabled).active,.btn-default:not(:disabled):not(.disabled):active,.show>.btn-default.dropdown-toggle{
    color:#000;
    background-color:#e0e0e0;
    border-color:#a0a0a0
}
.btn-default:not(:disabled):not(.disabled).active:focus,.btn-default:not(:disabled):not(.disabled):active:focus,.show>.btn-default.dropdown-toggle:focus{
    box-shadow:0 0 0 0.2rem rgba(0,123,255,.25)
}
.btn-paypal {text-shadow:0 0 2px rgba(255,255,255,1); background-color:#ffd54c!important; border-color:#ffd54c!important}
.btn-round {border-radius:48px}

.dropdown-toggle::after {content:none;}
.ace-bs-access > .dropdown-menu, .cart .dropdown > .dropdown-menu {margin:0;}

.btn.wait.disabled, .btn.wait[disabled] {cursor:wait;}

.media-right {margin-left:1rem}
.media-left {width:80px; margin-right:1rem}

.card, .table-responsive {margin-bottom:1rem;}
.card .row {margin-right:-10px; margin-left:-10px}
.card .row>.col,.card .row>[class*=col-]{
    padding-right:10px;
    padding-left:10px
}

.p-col {padding:15px;}

@media (min-width:992px) {
	.container-lg-none {max-width:none; padding-right:0; padding-left:0}
}

@media (max-width:991.98px){
.container,.container-fluid {padding-right:20px; padding-left:20px;}
.container-xsm-none {max-width:none; padding-right:0; padding-left:0}
.row {margin-right:-10px; margin-left:-10px;}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {padding-right:10px; padding-left:10px;}
.p-col {padding:10px;}
    
.d-xsm-none {display:none;}
.sr-xsm-only{position:absolute;width:1px;height:1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0}
}

.row-thin {margin-right:-5px!important; margin-left:-5px!important}
.col-thin {padding-right:5px!important; padding-left:5px!important}
.pb-thin {padding-bottom:10px}



/* ani boots */
.sr-only-focusable:active,.sr-only-focusable:focus {position:absolute; width:auto; height:auto; margin:0; overflow:visible; clip:auto;}
.btn.sr-only-focusable:active,.btn.sr-only-focusable:focus {padding:.375rem .75rem;}

.parsley-error-list {color:#dc3545!important; font-size:.875rem;}

blockquote>*:last-child, form>*:last-child {margin-bottom:0;}
.alert>*:last-child, .g>*:last-child, .card-header>*:last-child, .card-body>*:last-child, .card-body fieldset:last-of-type .actions:last-child, .modal-body>*:last-child,.table-responsive>*:last-child  {margin-bottom:0!important;}
.card-body::after{display:block; clear:both; content:""}

.alert {border-left-width:.5rem;}

.btn-blank {background-color:transparent;}
.blank {background:none; border-width:0;}
.blank.image-space {width:100%; padding-right:0; padding-bottom:0; padding-left:0;}
.btn.btn-sq {min-width:40px; padding-right:0; padding-left:0}
.btn-lg.btn-sq {min-width:48px}
.fgq label .text-danger {margin-left:.25em;}

.card-height .card {height:100%;}
.card-header, .card-body h2 {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
    

.fsd1 {font-size:.875rem;}
.fsd2 {font-size:.75rem;}
.fsi1 {font-size:1.125rem;}
.fsi2 {font-size:1.25rem;}

.image-space {display:block; position:relative; padding-top:100%;}
a.image-space:focus {outline:5px auto -webkit-focus-ring-color; box-shadow:0 0 0 .2rem rgba(0,123,255,.25)}
.is80 {padding-top:80%;}
.is75 {padding-top:75%;}
.is60 {padding-top:60%;}
.is50 {padding-top:50%;}
.is40 {padding-top:40%;}
.is25 {padding-top:25%;}
.is20 {padding-top:20%;}
.image-space .isd {position:absolute; top:0;}
.image-space span.isd {width:100%; overflow:visible!important; /* override product js */}
.image-space .isd .img-fluid {width:auto; margin:0 auto;}
.image-space .img-fluid.isd {width:auto; max-width:100%; height:auto; max-height:100%;}
.image-space .img-fluid.img-fit {position:absolute; top:0; left:0; width:100%; height:100%}

div:focus, section:focus {outline:none;}

.frame {position:relative; box-shadow:0 0 2px rgba(0,0,0,.2);}
.shrink {width:1%;}

.max-250,.max-400,.max-450,.max-lonely {max-width:250px; margin-right:auto; margin-left:auto;}
.max-400 {max-width:400px;}
.max-450 {max-width:450px;}
.max-lonely {max-width:500px;}


.dib {display:inline-block; min-width:1.25em; margin-right:.5em; margin-left:.5em; text-align:center;}
.dib:last-child {margin-right:0;}
.dib:first-child {margin-left:0;}
.divide {border-bottom:1px solid rgba(0,0,0,.125);}
.divide:last-child {margin-bottom:0!important; padding-bottom:0!important; border-bottom:none}
.no-of {overflow:hidden;}
.tdn, a.tdn {text-decoration:none;}
.tdul {text-decoration:underline}
.uc {text-transform:uppercase;}
.wsnw {white-space:nowrap;}
.z-2 {z-index:2}


*[data-image-swap],*[data-image-zoom] {cursor:pointer;}
.al-btn-sm {margin-bottom:0; padding:.3125rem 0; font-size:1.125rem}
.dropdown-menu-qc {width:280px}
.ajaxcart-products {max-height:280px; overflow:hidden; overflow-y:auto;}
.collapse-filters,.l-h,.pricing {line-height:1.625}


@media (min-width:1px){
.image-space .isd {top:50%; left:50%; -moz-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); -o-transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%);}
}

@media (min-width:375px) {
.dropdown-menu-qc {width:300px}
}

@media (min-width:992px) {
.ajaxcart-products {max-height:320px}
.dropdown-menu-qc {width:350px}
.media-cart .media-left {width:120px}
.lonely-form-lim .max-lonely {max-width:none;}
}

@media (max-width:991.98px){
.btn-xsm-block {display:block; width:100%;}
.btn.btn-xsm-sq {min-width:40px; padding-right:0; padding-left:0}
.btn-lg.btn-xsm-sq {min-width:48px}
}

@media (max-width:767px){
.btn-xs-block {display:block; width:100%;}
}

.mb-thin {margin-bottom:10px;}




/* fa */
.fa,.fab,.fal,.far,.fas,.slick-arrow,.slick-dots li button{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1}.fa-lg{font-size:1.33333em;line-height:.75em;vertical-align:-.0667em}.fa-xs{font-size:.75em}.fa-sm{font-size:.875em}.fa-1x{font-size:1em}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-6x{font-size:6em}.fa-7x{font-size:7em}.fa-8x{font-size:8em}.fa-9x{font-size:9em}.fa-10x{font-size:10em}.fa-fw{text-align:center;width:1.25em}.fa-ul{list-style-type:none;margin-left:2.5em;padding-left:0}.fa-ul>li{position:relative}.fa-li{left:-2em;position:absolute;text-align:center;width:2em;line-height:inherit}.fa-border{border:.08em solid #eee;border-radius:.1em;padding:.2em .25em .15em}.fa-pull-left{float:left}.fa-pull-right{float:right}.fa.fa-pull-left,.fab.fa-pull-left,.fal.fa-pull-left,.far.fa-pull-left,.fas.fa-pull-left{margin-right:.3em}.fa.fa-pull-right,.fab.fa-pull-right,.fal.fa-pull-right,.far.fa-pull-right,.fas.fa-pull-right{margin-left:.3em}.fa-spin{animation:a 2s infinite linear}.fa-pulse{animation:a 1s infinite steps(8)}@keyframes a{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}.fa-rotate-90{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";transform:rotate(90deg)}.fa-rotate-180{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";transform:rotate(180deg)}.fa-rotate-270{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";transform:rotate(270deg)}.fa-flip-horizontal{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";transform:scaleX(-1)}.fa-flip-vertical{transform:scaleY(-1)}.fa-flip-horizontal.fa-flip-vertical,.fa-flip-vertical{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)"}.fa-flip-horizontal.fa-flip-vertical{transform:scale(-1)}:root .fa-flip-horizontal,:root .fa-flip-vertical,:root .fa-rotate-90,:root .fa-rotate-180,:root .fa-rotate-270{-webkit-filter:none;filter:none}.fa-stack{display:inline-block;height:2em;line-height:2em;position:relative;vertical-align:middle;width:2em}.fa-stack-1x,.fa-stack-2x{left:0;position:absolute;text-align:center;width:100%}.fa-stack-1x{line-height:inherit}.fa-stack-2x{font-size:2em}.fa-inverse{color:#fff}
.fa,.fab,.fal,.far,.fas{min-width:1em;margin-right:.5em;margin-left:.5em;text-align:center;}
[class*=fa-]:last-child {margin-right:0;}
[class*=fa-]:first-child {margin-left:0;}
.fa-fa-gentle [class*=fa-] {opacity:.667;}
.fa-w08,.fa-times {min-width:.8em;}
.fa-w09 {min-width:.9em;}
.fa-w11 {min-width:1.1em;}
.fa-w12 {min-width:1.2em;}




@media (min-width:1px){
.flash-note {position:fixed; z-index:1071; top:50%; left:50%; width:75%; max-width:540px; text-align:left; -moz-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); -o-transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); transform:translate(-50%,-50%);}
.flash-note .alert {display:block; padding:12px 35px 12px 15px; box-shadow:0 1px 5px rgba(0,0,0,.5);}
}
@media (max-width:767px){
.flash-note {width:500px; max-width:none;}
}
@media (max-width:575.98px) {
.flash-note {left:20px; right:20px; width:auto; -moz-transform:translate(0, -50%); -ms-transform:translate(0, -50%); -o-transform:translate(0, -50%); -webkit-transform:translate(0, -50%); transform:translate(0,-50%);}
}




.twitter-typeahead .hint-small {height: 30px;padding: 5px 10px;font-size: 12px;border-radius: 3px;line-height: 1.5;}/*  Tt Auto Search Style*/
.twitter-typeahead .hint-large {height: 45px;padding: 10px 16px;font-size: 18px;border-radius: 6px;line-height: 1.33;}
.twitter-typeahead {-ms-flex: 1 1 auto; flex:1 1 auto; width:1%;}
.page-filters .twitter-typeahead .form-control {border-top-right-radius:0; border-bottom-right-radius:0;}
.header .twitter-typeahead {width:100%;}
.tt-dropdown-menu, .tt-hint {width:100%;}
.tt-input, .tt-hint {margin: 0;}
.input-group .form-control.tt-input { float:none;}
.tt-menu {padding:.5rem 0; width:100%; background-color: #fff;border: 1px solid #ccc;border: 1px solid rgba(0, 0, 0, 0.2);box-shadow: 0 5px 10px rgba(0,0,0,.2);}
.tt-suggestion {padding:.25rem 1.1875rem; font-size:.875rem; cursor:pointer; text-align:left;}
.tt-suggestion:hover, .tt-suggestion:focus {background:#f0f0f0;}
.tt-suggestion.tt-cursor {color:#fff;background-color:#007bff;}




.star-rating {position:relative; margin:0 auto;}
.star-rating .active {position:absolute; left:0; top:0; white-space:nowrap; overflow:hidden;}
.star-rating .disabled,.star-rating .disabled-choosing {color:#ccc;}
.star-rating .active,.star-rating .choosing,.star-rating .active-choosing {color:#FFC125;}
.star-rating .fa {min-width:1.15em; margin:0;}
.btn-lg.star-rating-star {padding:0 .2rem; font-size:1.5rem;}
.star-rating-star {color:#ccc;}
.star-rating-star.choosing {color:#bbb;}
.star-rating-star.chosen {color:#FFC125;}


.badges .badge {margin:0 .5rem 0 0; vertical-align:top;}
.product-grid .badges {position:absolute; top:0; left:0; padding:.5rem 0 0 .5rem;}

.list-group-item .fa {min-width:1.125em}
.list-group .card {margin-bottom:0; border-top-right-radius:0; border-top-left-radius:0;}
.list-group .collapse:not(:last-child) .card {border-bottom:none; border-bottom-right-radius:0; border-bottom-left-radius:0;}

li.sub-category, .collapse-filters a {display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.collapse-filters li a:not(.btn) {position:relative; padding-right:2rem;}
.category-filters .card-body {font-size:.875rem;}
.category-filters .list-group-item .fa, .list-group-item .fa.float-right {float:right; line-height:inherit}
.filter-count {position:absolute; top:0; right:0;}

.color-chip a {color:#fff; font-size:140%; text-shadow:0 1px 1px rgba(0,0,0,.5); opacity:.9;}
.color-chip .image-space:after {content:''; display:block; position:absolute; top:0; right:0; bottom:0; left:0; border:1px solid rgba(0,0,0,.25);}
.color-chip .isd {font-size:.75rem; line-height:1}
.color-chip .disabled {opacity:.1}
.color-chip .btn:hover, .color-chip .btn:focus {color:#fff; text-decoration:none; opacity:1}
.color-chip .btn:hover .image-space:after, .color-chip .btn:focus .image-space:after, .color-chip .btn:hover:after, .color-chip .btn:focus:after {border-color:rgba(0,0,0,.75)}
.color-chip .active .image-space:after {border-color:#000; opacity:1;}
.color-chip .white a:hover, .color-chip .white a:focus {color:#666;}
.bg-red {background-color:#9b1e20}
.bg-yellow {background-color:#e5e058}
.bg-green {background-color:#90b580}
.bg-blue {background-color:#346492}
.bg-purple {background-color:#8033cc}
.bg-brown {background-color:#6f5d42}
.bg-black {background-color:#000}
.bg-gray, .bg-grey {background-color:#aaa}
.bg-white {color:#666; background:#fcfcfc; text-shadow:0 1px 1px rgba(255,255,255,.5);}
.bg-multi {background:#88bfe8; background:linear-gradient(135deg, #88bfe8 0%, #96ffc2 27%, #b996ff 53%, #ff9698 75%, #f1ff96 100%, #70b0e0 100%);}
.text-red {color:#9b1e20}
.text-yellow {color:#e5e058}
.text-green {color:#90b580}
.text-blue {color:#346492}
.text-purple {color:#8033cc}
.text-brown {color:#6f5d42}
.text-black {color:#000}
.text-gray, .text-grey {color:#aaa}
.color-chip .text-white {text-shadow:0 1px 1px rgba(255,255,255,.5)}
.text-multi {background:-webkit-linear-gradient(135deg, #88bfe8 0%, #96ffc2 27%, #b996ff 53%, #ff9698 75%, #f1ff96 100%, #70b0e0 100%); -webkit-background-clip:text; -webkit-text-fill-color:transparent}

.category-grid .category, .product-grid .product {max-width:250px; margin-right:auto; margin-left:auto;}

.btn-qv {position:absolute; top:-40px; margin-top:100%; opacity:0; transition:opacity .3s ease;}
.product:hover .btn-qv, .btn-qv:focus {opacity:1;}

@media (min-width:576px) {
.modal-qv .modal-dialog {max-width:540px;}
}

@media (min-width:992px) {
.collapse-filters {height:auto!important;}
.filter .color-chips {padding-bottom:10px;}
.color-chip a {font-size:100%;}
.color-chip .isd {font-size:.875rem;}
}

@media (min-width:768px){
.modal-qv .modal-dialog {max-width:720px;}
}

@media (min-width:992px){
.modal-qv .modal-dialog {max-width:960px;}
.modal-qv .modal-body {padding-right:1.5rem; padding-left:1.5rem;}
}

@media (min-width:1200px){
.modal-qv .modal-dialog {max-width:1140px;}
}

@media (max-width:991.98px) {
.product-grid .color-chips .row-thin {margin-right:-2px!important; margin-left:-2px!important}
.product-grid .color-chips .col-thin {padding-right:2px!important; padding-left:2px!important}

.btn-qv {display:none;}
}



/* slick */
.slick-slider {position:relative; display:block; font-size:0; box-sizing:border-box; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; -webkit-touch-callout:none; -khtml-user-select:none; -ms-touch-action:pan-y; touch-action:pan-y; -webkit-tap-highlight-color:transparent;}
.slick-list {position:relative; display:block; overflow:hidden; margin:0; padding:0;}
.slick-list:focus {outline:none;}
.slick-list.dragging {cursor:pointer;}
.slick-slider .slick-track, .slick-slider .slick-list{-webkit-transform:translate3d(0, 0, 0); -moz-transform:translate3d(0, 0, 0); -ms-transform:translate3d(0, 0, 0); -o-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0);}
.slick-track {position:relative; top:0; left:0; display:block;}
.slick-track:before, .slick-track:after {display:table; content:'';}
.slick-track:after {clear:both;}
.slick-loading .slick-track {visibility:hidden;}
.slick-slide {display:none; position:relative; float:left; height:100%; min-height:1px; outline:none; overflow:hidden;}
[dir='rtl'] .slick-slide {float:right;}
.slick-slide > div > div {font-size:1rem;}
.slick-slide img {display:block;}
.slick-slide.slick-loading img {display:none;}
.slick-slide.dragging img {pointer-events:none;}
.slick-initialized .slick-slide {display:block;}
.slick-loading .slick-slide {visibility:hidden;}
.slick-vertical .slick-slide {display:block; height:auto; border:1px solid transparent;}
.slick-arrow.slick-hidden {display:none;}
.slick-arrow,.slick-dots li button {font-family:"Font Awesome 5 Free"; font-weight:900;}
.slick-arrow {font-size:0; line-height:32px; position:absolute; top:50%; z-index:1; display:block; width:30px; height:32px; padding:0; opacity:.6; -webkit-transform:translate(0, -50%); -ms-transform:translate(0, -50%); transform:translate(0, -50%); cursor:pointer; border:none; background:transparent;}
.slick-arrow:focus, .slick-arrow:hover {background:transparent; opacity:1;}
.slick-arrow:before, .slick-dots li button:before {color:#000; font-size:1rem;}
.slick-arrow.slick-disabled {opacity:.25; pointer-events:none;}
.slick-prev {left:0;}
.slick-next {right:0;}
[dir='rtl'] .slick-prev {right:-24px; left:auto;}
[dir='rtl'] .slick-next {right:auto; left:-24px;}
.slick-prev:before,[dir='rtl'] .slick-next:before {content:"\f053";}
.slick-next:before,[dir='rtl'] .slick-prev:before {content:"\f054";}
.slick-dots {position:absolute; bottom:6px; display:block; width:100%; padding:0; margin:0; list-style:none; text-align:center;}
.slick-dots li {position:relative; display:inline-block; width:28px; height:28px; margin:0; padding:0; cursor:pointer;}
.slick-dots li button {font-size:0; line-height:0; display:block; width:28px; height:28px; padding:0; cursor:pointer; color:transparent; border:0; background:transparent;}
.slick-dots li:not(.slick-active) button {font-weight:400;}
.slick-dots li button:before {content:"\f111"; line-height:28px; opacity:.6;}
.slick-dots li.slick-active button:before {content:"\f111"; opacity:.8;}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {opacity:1;}

.slick-vertical .slick-prev, .slick-vertical .slick-next {left:50%; width:32px; -webkit-transform:translate(-50%,0); -ms-transform:translate(-50%,0); transform:translate(-50%,0%);}
.slick-vertical .slick-prev {top:-8px;}
.slick-vertical .slick-prev:before {content:"\f077";}
.slick-vertical .slick-next {top:auto; bottom:-8px; right:auto;}
.slick-vertical .slick-next:before {content:"\f078";}

.slick-white .slick-arrow:before, .slick-white .slick-dots li button:before {color:#fff; text-shadow:0 0 2px rgba(0,0,0,.6);}
.slickwait {display:none;}
.slick-initialized .slickwait {display:block;}



/* product */
.variation {position:relative; z-index:1; height:0; margin:0; padding:0; opacity:0; /*overflow:hidden;*/ visibility:hidden; transition:opacity 300ms;}
.variation.active {z-index:2; height:auto; opacity:1; visibility:visible;}

.selected-option {display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.vopt-btns {margin-right:-2px; margin-left:-2px; font-size:0;}
.vopt-swatch li {width:16.666666%;}
.vopt-btns li, .vopt-btns > li:not(:last-child) {margin:0; padding:0 2px 4px;}
.vopt li .btn {position:relative;}
.vopt li .btn:after {content:''; display:block; position:absolute; top:0; right:0; bottom:0; left:0; border:1px solid #bbb; border:1px solid rgba(0,0,0,.1); border-radius:.25rem; transition:all 300ms ease}
.vopt li:hover .btn:after {border:1px solid rgba(0,0,0,.25)}
.vopt li.selected .btn:after {border:1px solid #000; border:1px solid rgba(0,0,0,.5); border:1px solid #66afe9; box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);}
.vopt li.selected .btn {background-color:#e0e0e0;}
.vopt li.not-avail {opacity:.6;}
.vopt li.not-avail .btn:after {border:2px dashed #bbb;}
.vopt li.not-avail:hover,.vopt li.not-avail-sel:hover {opacity:.4;}
.vopt li.not-avail-sel {opacity:.6;}
.vopt li.not-avail:hover .btn:after,.vopt li.not-avail-sel .btn:after,.vopt li.not-avail-sel:hover .btn:after {border:2px dashed red;}

@media (min-width:449px) and (max-width:508px) {
.vopt-swatch li {width:14.285714%;}
}

@media (min-width:509px) and (max-width:767px) {
.vopt-swatch li {width:12.5%;}
}
@media (min-width:768px) and (max-width:991.98px) {
.vopt-swatch li {width:20%;}
}
.vari-video-scase {position:absolute; z-index:3; top:365px; left:0; width:60px; overflow:hidden;}
.ppsl-bh .vari-video-scase {top:auto; bottom:8px; left:50%; margin-left:139px;}
.vari-video-scase .acaro {padding:5px;}
.video-icon {color:#fff; font-size:150%; text-shadow:0 1px 5px rgba(0,0,0,.75);}

@media (min-width:992px) {
.vopt-btns {margin-right:-4px; margin-left:-4px;}
.vopt-btns li, .vopt-btns > li:not(:last-child) {margin:0; padding:0 4px 8px;}
.vopt-swatch li {width:16.666666%;}
}

@media (max-width:374px) {
.vopt-swatch li {width:20%;}
}

.pi-contain {max-width:450px;}

.main-img-img {position:absolute; z-index:3; top:0; left:30px; right:30px; background:#000; opacity:0; visibility:hidden; transition:all 300ms;}
.main-img-img.active {opacity:1; visibility:visible;}

.silent-gal {position:absolute; top:0; right:30px; bottom:0; left:30px; opacity:0; visibility:hidden;}

.slick-heroic {padding:0 30px;}
.slick-heroic .slick-prev {left:0;}
.slick-heroic .slick-next {right:0;}

.ss-contain {position:absolute; top:5px; bottom:auto; left:0; width:60px; opacity:1; visibility:visible; transition:all 300ms ease;}
.prodpage.ppsl-bh .ss-contain {top:auto; bottom:-67px; left:50%; width:420px; margin-left:-210px;}
.prodpage.ppsl-bh.has-video .ss-contain {width:460px; margin-left:-230px; padding-right:100px;}
.slick-heroic-nav {padding:20px 0;}
.prodpage.ppsl-bh .slick-heroic-nav {padding:0 30px;}
.prodpage.ppsl-bh .slick-heroic-nav-go > div {float:left; width:60px;}
.slick-heroic-nav .acaro {padding:5px;}
.slick-heroic-nav .slick-current .image-space:after {content:''; position:absolute; top:0; right:0; bottom:0; left:0; border:1px solid #66afe9; box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6); transition:all 300ms ease}

.url-1-product .slick-heroic.slick-initialized .slick-slide, .slick-heroic-nav .slick-slide {cursor:pointer;}

@media (min-width:992px) {
.prodpage.ppsl-bh .pi-contain {padding-bottom:75px;}
.slick-heroic {padding:0 0 0 75px;}
.prodpage.ppsl-bh .slick-heroic {padding:0 37.5px 24px;}
.slick-heroic .slick-arrow {display:none!important;}

.pi-contain {max-width:600px;}

.main-img-location {left:75px; right:0}
.prodpage.ppsl-bh .main-img-location {left:37.5px;}
}

@media (max-width:991.98px) {
.slick-heroic .slick-dots {display:none!important;}

.ss-contain {opacity:0; visibility:hidden;}

.has-video .vari-video-scase {display:none;}
}



/* checkout */
.checkoutapp .card-header h2 {margin:0;}
.checkoutapp .card-header .step-data {display:none; margin:1rem 0 0; font-size:.875rem;}
.checkoutapp .card-header .step-data:empty {margin:0;}
.checkoutapp .checkoutapp .btn-edit {display:none;}
.checkoutapp .jumbotron {margin: auto; padding: 20px; background-color: #eee; color: black; border: 1px solid #ddd; text-align: center; width: 75%;}
.checkoutapp .checkout-card {padding-top:40px;}
.StripeElement {background-color: white; height: 40px; padding: 10px 12px; border-radius: 4px; border: 1px solid transparent; box-shadow: 0 1px 3px 0 #e6ebf1; -webkit-transition: box-shadow 150ms ease; transition: box-shadow 150ms ease;}
.StripeElement--focus {box-shadow: 0 1px 3px 0 #cfd7df;}
.StripeElement--invalid {border-color: #fa755a;}
.StripeElement--webkit-autofill {background-color: #fefde5 !important;}