{% extends "/_layouts/base.html.twig" %}
{% import "/account/_macros/base.html.twig" as account %}
{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}

{% do account.login() %}

{% block title %}Account - Wish List{% endblock %} 

{% block breadcrumb %}
	{{ base.breadcrumbs({'Account':'/account','Wish Lists':'/account/wishlists','Wish List':''}) }}
{% endblock %}

{% block content %}
<div id="customer-account">

	{# Begin navigation #}

	{{account.navigation('wishlists')}}

	{# End navigation #}
	{# Begin content #}
	<div class="customer-account-wishlist">
		
		{% include '/wishlist/_partials/list.html.twig' %}
		
	</div>
	{{account.navigatend()}}
</div>
{% endblock %}
